<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/study/studyDetail.css">
    <link rel="stylesheet" href="/css/study/studyReply.css"/>
</head>
<body>

    <div class="fulldiv">
        <img class="goback" src="https://www.holaworld.io/images/info/arrowLeft.png" alt="뒤로가기사진">
        <div class="studyTitle">
            <h1 name="studyTitle" th:text="${study.studyTitle}"></h1><!--스터디 구분들어갈 자리-->
        </div>
        <div class="userAndUpload">
            <span class="writerUser" name="userId" th:text="${study.userId}"><!--스터디 모집 작성자-->
                <!--작성자앞에 로고 사진-->
                <img class="logoimg" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="25px">작성자 |</span>
                <span name="registerDate" th:text="${study.studyRegisterDate}"></span><!--스터디모집글등록날짜-->
        </div>


        <div class="secdiv"><!--두번째 박스 진행방식, 시작예정등등 담아있는 박스 -->
            <div class="tablediv1">
                <table>
                    <tr>
                        <td class="one" name="howToProceed">진행 방식</td>
                        <td class="se" name="??" th:text="${study.studyProcess}"></td>
                        <!--
                            온라인이면 value :online
                            오프라인이면 value : offline
                            이러게 처리했음(studyWrite.html참조)
                         -->
                    </tr>
                    <tr>
                        <td class="one" name="people">모집 인원</td>
                        <td class="se" name="??" th:text="${study.studyStudentCount}"></td>
                        <!--
                               <option value="unsettled-person">인원 미정
                                <option value="one">1명
                                <option value="two">2명
                                <option value="three">3명
                                <option value="four">4명
                                <option value="five">5명
                                <option value="six">6명
                                <option value="seven">7명
                                <option value="eight">8명
                                <option value="nine">9명
                                <option value="overten">10명 이상

                                이러게 처리했음(studyWrite.html참조)
                         -->
                    </tr>
                    <tr>
                        <td class="one" name="howToConnect">연락 방법</td>
                        <td class="se" name="connect-kakao">오픈톡 : 링크 걸기</td>
                        <!--
                                <option value="connect-email">이메일
                                <option value="connect-kakao">카카오톡 오픈채팅
                                 이러게 처리했음(studyWrite.html참조)
                        -->
                    </tr>
                    <tr>
                        <td class="one" >지역</td>
                        <td class="se" name="location" th:text="${study.studyAddress}"></td>
                    </tr>
                </table>
            </div>


            <div class="tablediv2">
                <table>
                    <tr>
                        <td class="one" name="" >시작 예정</td>
                        <td class="se" name="">2023.09.27</td>
                    </tr>
                    <tr>
                        <td class="one" name="period-time">예상 기간</td>
                        <td class="se" name="" th:text="${study.studyDate}"></td>
                        <!--

                    <option value="unsettled-period">기간미정
                    <option value="oneMonth">1개월
                    <option value="twoMonths">2개월
                    <option value="threeMonths">3개월
                    <option value="fourMonths">4개월
                    <option value="fiveMonths">5개월
                    <option value="sixMonths">6개월
                    <option value="oversixMonths">장기

                        -->
                    </tr>
                    <tr>
                        <td class="one" name="">스터디 구분</td>
                        <td class="se" name="studyfor" th:text="${study.studyMajor}">영어 문법</td>
                    </tr>
                </table>
            </div>
        </div><!--두번째 박스 끝나는 지점-->

        <div class="thHoleDiv"><!--세번쨰 박스 스터디 소개부분 시작-->
                <div class="ourStudtTitle">
                    <h2>스터디 소개</h2>
                </div>
            <div>
                <div class="ourStudtIs" th:text="${study.studyContent}">


                </div>

                <div class="checkDiv"><!--조회수랑 하이? 담는 총 상자-->
                    <div>
                        <img src="https://www.holaworld.io/images/info/bookmark.svg" width="20px" height="18px">
                        <span>0</span><!--찜하기인가?-->
                    </div>
                </div>
            </div>

        </div><!--세번쨰 박스 스터디 소개부분 끝 -->

        <!--댓글 상자 -->
        <div class="reply-wrap">
            <h3>댓글 작성</h3>
            <div class="reply-wrap__box">
                <div class="reply-content__box">
                    <div class="reply-writer">홍길동</div>
                    <textarea name="replyContent" id="reply-content" cols="30" rows="10"></textarea>
                </div>
                <div class="reply-btn-wrap">
                    <button type="button" class="btn-reply">작성 완료</button>
                </div>
            </div>

            <!-- 댓글 리스트 -->
            <div class="reply-list-wrap">
                <!-- 리플 예시 -->

                <!-- /리플 예시 -->
            </div>
        </div>


        <a th:href="@{/study/update(studyNumber=${study.studyNumber})}">수정</a>
        <a th:href="@{/study/remove(studyNumber=${study.studyNumber})}">삭제</a>






    </div> <!--fulldiv 끝나는 지점 길이100%-->


    <input type="hidden" th:value="${study.studyNumber}" name="study-number"/>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

    <script th:inline="javascript"> // 타임리프 문법을 자바스크립트에서 사용하기 위한 설정
    let loginNumber = [[${session.userNumber}]]; // 타임리프 문법은 [] 2개로 감싸줘야 한다.
    </script>

    <script type="module" src="/js/study/studyReply.js"></script>
</body>


</html>