<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>studywrite</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/header.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 서머노트를 위해 추가해야할 부분 -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="https://kit.fontawesome.com/acf4f592bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/study/studywrite.css"/>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <form action="/study/writeOk" method="post">
        <div class="section-1">
            <ul class="item-ul">
                <li>
                    <select name="studyProcess" placeholder="모집방식을 선택해주세요.">
                        <option value="">모집방식을 선택해주세요.</option>
                        <option value="온라인" >온라인</option>
                        <option value="오프라인" >오프라인</option>
                    </select>
                </li>
                <li>
                    <select name="studyStudentCount" placeholder="모집인원을 선택해주세요">
                        <option value="">모집인원을 선택해주세요.</option>
                        <option value="인원 미정">인원 미정</option>
                        <option value="1명">1명</option>
                        <option value="2명">2명</option>
                        <option value="3명">3명</option>
                        <option value="4명">4명</option>
                        <option value="5명">5명</option>
                        <option value="6명">6명</option>
                        <option value="7명">7명</option>
                        <option value="8명">8명</option>
                        <option value="9명">9명</option>
                        <option value="10명 이상">10명 이상</option>
                    </select>
                </li>
                <li>
                    <select name="studyDate">
                        <option value="">스터디 기간을 지정해주세요</option>
                        <option value="기간 미정">기간 미정</option>
                        <option value="1개월">1개월</option>
                        <option value="2개월">2개월</option>
                        <option value="3개월">3개월</option>
                        <option value="4개월">4개월</option>
                        <option value="5개월">5개월</option>
                        <option value="6개월">6개월</option>
                        <option value="장기">장기</option>
                    </select>
                </li>
                <li class="start_date_li">
                    <span class="start_date_text">시작날짜</span>
                    <input type="date" name="studyStartDate">
                </li>

            </ul>
        </div>
        <div class="section-1">
            <ul class="item-ul-2">
                <li>
                    <input type="text" name="studyAddress" placeholder="스터디를 진행할 지역을 입력해주세요">
                </li>
                <li>
                    <input type="text" name="studyMajor" placeholder="스터디 주제를 입력해주세요 ex) OO시험 대비 스터디">
                </li>
            </ul>
        </div>
        <div class="section-3">
            <div class="study-title">
                <input type="text" name="studyTitle" placeholder="글제목을 입력해주세요">
            </div>
            <textarea class="summernote" id="summernote" name="studyContent"></textarea>
        </div>
        <div class="button-div">
            <button type="reset" class="rest-btn" name="cancelBtn">취소</button>
            <button type="submit" class="registerBtn" name="registerBtn" >글등록</button>
        </div>
    </form>

</div>

</body>
    <script>
        $('#summernote').summernote({
        placeholder: '내용을 입력해주세요',
        tabsize: 1,
        height: 400,
        toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['view', ['help']]
        ]
    });
</script>
</html>