<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/study/studyDetail.css">



</head>
<body>

    <div class="fulldiv">   
        <img class="goback" src="https://www.holaworld.io/images/info/arrowLeft.png" alt="뒤로가기사진"> 
        <div class="studyTitle">
            <h1 name="studyTitle">영어 그룹 스터디를 모집합니다</h1><!--스터디 구분들어갈 자리-->
        </div>
        <div class="userAndUpload">
            <span class="writerUser" name="userId"><!--스터디 모집 작성자-->
                <!--작성자앞에 로고 사진-->
                <img class="logoimg" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="25px">작성자 |</span>
                <span name="registerDate">2023.10.12</span><!--스터디모집글등록날짜-->
        </div>


        <div class="secdiv"><!--두번째 박스 진행방식, 시작예정등등 담아있는 박스 -->
            <div class="tablediv1">
                <table>
                    <tr>
                        <td class="one" name="howToProceed">진행 방식</td>
                        <td class="se" name="??">온/오프라인</td>
                        <!--
                            온라인이면 value :online
                            오프라인이면 value : offline
                            이러게 처리했음(studyWrite.html참조)
                         -->
                    </tr>
                    <tr>
                        <td class="one" name="people">모집 인원</td>
                        <td class="se" name="??">2명</td>  
                        <!--
                               <option value="unsettled-person">인원 미정
                                <option value="one">1명
                                <option value="two">2명
                                <option value="three">3명
                                <option value="four">4명
                                <option value="five">5명
                                <option value="six">6명
                                <option value="seven">7명
                                <option value="eight">8명
                                <option value="nine">9명
                                <option value="overten">10명 이상

                                이러게 처리했음(studyWrite.html참조)
                         -->
                    </tr>
                    <tr>
                        <td class="one" name="howToConnect">연락 방법</td>
                        <td class="se" name="connect-kakao">오픈톡 : 링크 걸기</td>
                        <!--    
                                <option value="connect-email">이메일
                                <option value="connect-kakao">카카오톡 오픈채팅
                                 이러게 처리했음(studyWrite.html참조)
                        -->
                    </tr>
                    <tr>
                        <td class="one" >지역</td>
                        <td class="se" name="location">서울시 노원구</td>
                    </tr>
                </table>
            </div>


            <div class="tablediv2">
                <table>
                    <tr>
                        <td class="one" name="">시작 예정</td>
                        <td class="se" name="">2023.09.27</td>
                    </tr>
                    <tr>
                        <td class="one" name="period-time">예상 기간</td>
                        <td class="se" name="">3개월</td>
                        <!--

                    <option value="unsettled-period">기간미정
                    <option value="oneMonth">1개월
                    <option value="twoMonths">2개월
                    <option value="threeMonths">3개월
                    <option value="fourMonths">4개월
                    <option value="fiveMonths">5개월
                    <option value="sixMonths">6개월
                    <option value="oversixMonths">장기

                        -->
                    </tr>
                    <tr>
                        <td class="one" name="">스터디 구분</td>
                        <td class="se" name="studyfor">영어 문법</td>
                    </tr>
                </table>
            </div>
        </div><!--두번째 박스 끝나는 지점-->

        <div class="thHoleDiv"><!--세번쨰 박스 스터디 소개부분 시작-->
                <div class="ourStudtTitle">
                    <h2>스터디 소개</h2>
                </div>
            <div>
                <div class="ourStudtIs">
                    ★☆안녕하세요★☆<br>
                    영어 스터디 모집한니다.<br>
                    문법위주 수업이며 토익 대비도 가능합니다.<br>
                    스피킹도 같이 할 예정이며 원하시는 분은 따로 알려주세요!<br>
                    빼먹지 않고 꾸준히 참여하실 분으로 원합니다!!!<br>
                    ※지각은 노노<br>
                    ※지각은 노노<br>
                    ※지각은 노노<br>
                    ※지각은 노노<br>
                    ※지각은 노노<br>
                    ※지각은 노노<br>

                </div>

                <div class="checkDiv"><!--조회수랑 하이? 담는 총 상자-->
                    <div>
                        <img src="https://www.holaworld.io/images/info/eye.png" width="20px" height="15px">
                        <span>50</span><!--조회수-->
                    </div>
                    <div>
                        <img src="https://www.holaworld.io/images/info/bookmark.svg" width="20px" height="18px">
                        <span>0</span><!--찜하기인가?-->
                    </div>
                </div>
            </div>

        </div><!--세번쨰 박스 스터디 소개부분 끝 -->

        <!--댓글 상자 -->
        <div class="replyFulldiv">
            <div>댓글</div>
            <div class="replyinnerfull">
                <div>
                    <img src="	https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="44px" height="44px">
                </div>
            <form action="">
                <div>
                    <input type="text" class="replyContent"name="replyContent"  id="replyContent" placeholder="댓글을 입력하세요" >
                </div>
                <div class="buttonDiv">
                    <button type="submit" class="replyRegiter" name="replyRegiter" id="replyRegiter">댓글등록</button>
                </div>
            </form>
            </div>
     </div><!--댓글끝-->

             <!--댓글 상자 -->
             <div class="rereplyFulldiv">
                <div>댓글</div>
                <div class="replyinnerfull">
                    <div>
                        <img src="	https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="44px" height="44px">
                    </div>
                <form action="">
                    <div>
                        <input type="text" class="replyContent"name="replyContent" placeholder="댓글을 입력하세요" >
                    </div>
                    <div class="buttonDiv">
                        <button type="submit" class="replyRegiterUp" name="replyRegiterUp">수정</button>
                    </div>
                    <div class="buttonDiv">
                        <button type="submit" class="replyRegiterDel" name="replyRegiterDel">삭제</button>
                    </div>
                </form>
                </div>
         </div><!--댓글끝-->







    </div> <!--fulldiv 끝나는 지점 길이100%-->



</body>
<script>
document.querySelector('.replyRegiter').addEventListener('click', function(e){
    if(document.querySelector('#replyContent').value== ''){
        e.preventDefault() //전송을 막아준다.
        alert('댓글을 입력해주세요')
    }
})


</script>

</html>