<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css"/>
    <style>
        .container{
            width:1320px;
            height:1300px;
            margin:auto;

        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 3열로 설정 */
            grid-template-rows: repeat(3, 1fr); /* 4행으로 설정 */
            grid-gap: 10px; /* 그리드 간격 설정 */
            width: 1300px; /* 가로 크기 설정 */
            height: 1000px; /* 세로 크기 설정 */
            margin: 0 auto; /* 중앙 정렬을 위해 자동 마진 설정 */
        }
        header{
            margin-bottom:20px;
        }

        /* 그리드 아이템 스타일 설정 (예: 배경색, 테두리 등) */

    </style>
</head>
<body>

<header class="header-container none"> <!--헤더 컨테이너-->
    <nav class="nav-bar">
        <div class="nav-left">
            <a href="#">
                <img src="./logo.png" alt="logo" class="logo-img">
            </a>
        </div>
        <div class="nav-right">
            <ul>
                <li>
                    <input type="text" name="search" value="" class="search-bar" placeholder="제목을 입력해주세요"/>
                </li>
                <li class="study">
                    <a href="#"><p class="header-text">스터디 모집</p></a> <!--스터디 목록으로 이동-->
                </li>
                <li class="menti">
                    <a href="#"><p class="header-text">멘티 모집</p></a> <!--멘티 모집 목록으로 이동-->
                </li>
                <li class="login">
                    <a href="#"><p class="header-text">로그인</p></a> <!--로그인 창으로 이동-->
                </li>
            </ul>
    </nav>

</header>
<!--로그인 후 헤더-->
<header class="header-container none"> <!--헤더 컨테이너-->
    <nav class="nav-bar">
        <div class="nav-left-login">
            <a href="#">
                <img src="logo.jpg" alt="logo" class="logo-img">
            </a>
        </div>
        <div class="nav-right">
            <ul>
                <li>
                    <input type="text" name="search" value="" class="search-bar" placeholder="제목을 입력해주세요"/>
                </li>
                <li class="study">
                    <a href="#"><p class="header-text">스터디 모집</p></a> <!--스터디 목록으로 이동-->
                </li>
                <li class="menti">
                    <a href="#"><p class="header-text">멘티 모집</p></a> <!--멘티 모집 목록으로 이동-->
                </li>
                <li class="login">
                    <a href="#"><p class="header-text">쪽지함</p></a> <!--로그인 창으로 이동-->
                </li>

                <li class="myPage">
                    <a href="#"><p class="header-text">마이페이지</p></a> <!--로그인 창으로 이동-->
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--멘토로 로그인 헤더-->
<header class="header-container "> <!--헤더 컨테이너-->
    <nav class="nav-bar">
        <div class="nav-left-login-mentor">
            <a href="#">
                <img src="logo.jpg" alt="logo" class="logo-img">
            </a>
        </div>
        <div class="nav-right">
            <ul>
                <li>
                    <input type="text" name="search" value="" class="search-bar" placeholder="제목을 입력해주세요"/>
                </li>
                <li class="study">
                    <a href="#"><p class="header-text">스터디 모집</p></a> <!--스터디 목록으로 이동-->
                </li>
                <li class="menti">
                    <a href="#"><p class="header-text">멘티 모집</p></a> <!--멘티 모집 목록으로 이동-->
                </li>
                <li class="menti">
                    <a href="#"><p class="header-text">멘토 신청</p></a> <!--멘티 모집 목록으로 이동-->
                </li>
                <li class="login">
                    <a href="#"><p class="header-text">쪽지함</p></a> <!--로그인 창으로 이동-->
                </li>

                <li class="myPage">
                    <a href="#"><p class="header-text">마이페이지</p></a> <!--로그인 창으로 이동-->
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <h2>스터디 모집</h2>
    <div class="grid-container">
        <!-- 그리드 아이템 -->

        <div th:each="study : ${studyList}">
        <a th:href="@{/study/detail(studyNumber=${study.studyNumber})}" >
            <div class="good-board">
                <div class="category-img-box" >
                    <img src="asd" name="카테고리이미지"/>
                </div>
                <div class="deadline-box" >
                    <p class="deadline" name="마감일" th:text="'마감일  |  '+${study.studyStartDate}"> </p>
                </div>
                <div class="content-box" name="제목">
                    <p class="content" th:text="${study.studyTitle}"></p>
                </div>
                <div class="category-box" name="category">
                    <p class="category" name="카테고리" th:text="${study.studyMajor}"></p>
                </div>
                <div class="address-box">
                    <p class="address" name="주소" th:text="${study.studyAddress}"></p>
                </div>
                <div class="user-box">
                    <span class="user-nickname" th:text="${study.userId}"></span>
                    <span class="commend-count">0</span>
                </div>
            </div>
        </a>
        </div>



        <a href="/study/write">글작성버튼</a>
    </div>
</div>

</body>
</html>
