<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/study/studyList.css">
</head>
<body>
    
    <div class="fulldiv">
        <div class="studyh1">
            <h1>스터디 모집</h1>
        
        </div>
        <div class="container">
            <div class="item">
                <div class="typeOfStudy">🗂 스터디 모집</div>
                <div class="utilldate">
                    <span>마감일 |</span>
                    <span name="deadline">2023.09.30</span>
                </div>
                <h3 name="studyTitle">[영어문법] 
                     오프라인 온라인 다 가능합니다.
                </h3>
                    <div class="info3div">

                        <div class="typediv">
                            <ul>
                                <li>디자이너 </li>
                                <li>프론트헨드</li>
                            </ul>
                        </div>

                        <div class="se-div">
                            <!--이미지를 넣을 예정이라면 
                            여기에 쓰는게 좋을것같은데...-->
                        </div>

                        <!--작성자에 관한 것-->
                            <div class="aboutWriterdiv">
                                <div class="logoAndUser">
                                    <img class="logoimg" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="25px">
                                    <span class="listUserName">작성자야</span>
                                </div>
                               
                                <div class="chekcAndReply">
                                    <img src="https://previews.123rf.com/images/maximsamos/maximsamos1310/maximsamos131000001/22593239-%EB%88%88-%EC%95%84%EC%9D%B4%EC%BD%98.jpg" width="30px" height="30px">
                                    <span>12</span>
                                    <img src="https://us.123rf.com/450wm/draganae/draganae1612/draganae161200293/71426677-%EB%8C%93%EA%B8%80-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0.jpg" width="30px" height="30px">
                                </div>


                            </div>
                    </div>
            </div>



<!---------------예시를 위해 넣으둔거임 나중에 지우고 위에 부분 foreach 처리?----------------------------------->
            <div class="item">
                <div class="typeOfStudy">🗂 프로젝트</div>
                <div class="utilldate">
                    <span>마감일 |</span>
                    <span>2023.09.30</span>
                </div>
                <h3>[혼자하는 요리] 1인가구 요리 플랫폼을 같이 만들 디자이너 구합니다.
                     오프라인 온라인 다 가능합니다.
                </h3>

                <div class="info3div">

                    <div class="typediv">
                        <ul>
                            <li>디자이너</li>
                            <li>백앤드</li>
                            <li>풀스택</li>
                        </ul>
                    </div>

                    <div class="se-div">
                        <!--이미지를 넣을 예정이라면 
                        여기에 쓰는게 좋을것같은데...-->
                    </div>
                      <!--작성자에 관한 것-->
                      <div class="aboutWriterdiv">
                        <div class="logoAndUser">
                            <img class="logoimg" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="25px">
                            <span class="listUserName">작성자야</span>
                        </div>
                   
                        <div class="chekcAndReply">
                            <img src="https://previews.123rf.com/images/maximsamos/maximsamos1310/maximsamos131000001/22593239-%EB%88%88-%EC%95%84%EC%9D%B4%EC%BD%98.jpg" width="30px" height="30px">
                            <span>12</span>
                            <img src="https://us.123rf.com/450wm/draganae/draganae1612/draganae161200293/71426677-%EB%8C%93%EA%B8%80-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0.jpg" width="30px" height="30px">
                        </div>
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="typeOfStudy">🗂 프로젝트</div>
                <div class="utilldate">
                    <span>마감일 |</span>
                    <span>2023.09.30</span>
                </div>
                <h3>[혼자하는 여행자] 여행플랫폼을 같이 만들 디자이너 구합니다.
                     오프라인 온라인 다 가능합니다.
                </h3>

                <div class="info3div">

                    <div class="typediv">
                        <ul>
                            <li>디자이너</li>
                            <li>프론트헨드</li>
                        </ul>
                    </div>

                    <div class="se-div">
                        <!--이미지를 넣을 예정이라면 
                        여기에 쓰는게 좋을것같은데...-->
                    </div>
                      <!--작성자에 관한 것-->
                      <div class="aboutWriterdiv">
                        <div class="logoAndUser">
                            <img class="logoimg" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="25px">
                            <span class="listUserName">작성자야</span>
                        </div>
                     
                        <div class="chekcAndReply">
                            <img src="https://previews.123rf.com/images/maximsamos/maximsamos1310/maximsamos131000001/22593239-%EB%88%88-%EC%95%84%EC%9D%B4%EC%BD%98.jpg" width="30px" height="30px">
                            <span>12</span>
                            <img src="https://us.123rf.com/450wm/draganae/draganae1612/draganae161200293/71426677-%EB%8C%93%EA%B8%80-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0.jpg" width="30px" height="30px">
                        </div>
                    </div>
                </div>




            </div>
            <div class="item">
                <div class="typeOfStudy">🗂 프로젝트</div>
                <div class="utilldate">
                    <span>마감일 |</span>
                    <span>2023.09.30</span>
                </div>
                <h3>[혼자하는 여행자] 여행플랫폼을 같이 만들 디자이너 구합니다.
                     오프라인 온라인 다 가능합니다.
                </h3>

                <div class="info3div">

                    <div class="typediv">
                        <ul>
                            <li>디자이너</li>
                            <li>프론트헨드</li>
                        </ul>
                    </div>

                    <div class="se-div">
                        <!--이미지를 넣을 예정이라면 
                        여기에 쓰는게 좋을것같은데...-->
                    </div>
                      <!--작성자에 관한 것-->
                      <div class="aboutWriterdiv">
                        <div class="logoAndUser">
                            <img class="logoimg" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="25px">
                            <span class="listUserName">작성자야</span>
                        </div>
                      
                        <div class="chekcAndReply">
                            <img src="https://previews.123rf.com/images/maximsamos/maximsamos1310/maximsamos131000001/22593239-%EB%88%88-%EC%95%84%EC%9D%B4%EC%BD%98.jpg" width="30px" height="30px">
                            <span>12</span>
                            <img src="https://us.123rf.com/450wm/draganae/draganae1612/draganae161200293/71426677-%EB%8C%93%EA%B8%80-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0.jpg" width="30px" height="30px">
                        </div>
                    </div>
                </div>



            </div>
            <div class="item">
                <div class="typeOfStudy">🗂 프로젝트</div>
                <div class="utilldate">
                    <span>마감일 |</span>
                    <span>2023.09.30</span>
                </div>
                <h3>[혼자하는 여행자] 여행플랫폼을 같이 만들 디자이너 구합니다.
                     오프라인 온라인 다 가능합니다.
                </h3>

                <div class="info3div">

                    <div class="typediv">
                        <ul>
                            <li>디자이너</li>
                            <li>백앤드2명</li>
                        </ul>
                    </div>

                    <div class="se-div">
                        <!--이미지를 넣을 예정이라면 
                        여기에 쓰는게 좋을것같은데...-->
                    </div>
                      <!--작성자에 관한 것-->
                      <div class="aboutWriterdiv">
                        <div class="logoAndUser">
                            <img class="logoimg" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="25px">
                            <span class="listUserName">작성자야</span>
                        </div>
                     
                        <div class="chekcAndReply">
                            <img src="https://previews.123rf.com/images/maximsamos/maximsamos1310/maximsamos131000001/22593239-%EB%88%88-%EC%95%84%EC%9D%B4%EC%BD%98.jpg" width="30px" height="30px">
                            <span>12</span>
                            <img src="https://us.123rf.com/450wm/draganae/draganae1612/draganae161200293/71426677-%EB%8C%93%EA%B8%80-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0.jpg" width="30px" height="30px">
                        </div>
                    </div>
                </div>




            </div>
            <div class="item">
                <div class="typeOfStudy">🗂 프로젝트</div>
                <div class="utilldate">
                    <span>마감일 |</span>
                    <span>2023.09.30</span>
                </div>
                <h3>[혼자하는 여행자] 여행플랫폼을 같이 만들 디자이너 구합니다.
                     오프라인 온라인 다 가능합니다.
                </h3>

                <div class="info3div">

                    <div class="typediv">
                        <ul>
                            <li>디자이너</li>
                            <li>프론트헨드</li>
                        </ul>
                    </div>

                    <div class="se-div">
                        <!--이미지를 넣을 예정이라면 
                        여기에 쓰는게 좋을것같은데...-->
                    </div>
                      <!--작성자에 관한 것-->
                      <div class="aboutWriterdiv">
                        <div class="logoAndUser">
                            <img class="logoimg" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="25px">
                            <span class="listUserName">작성자야</span>
                        </div>
                     
                        <div class="chekcAndReply">
                            <img src="https://previews.123rf.com/images/maximsamos/maximsamos1310/maximsamos131000001/22593239-%EB%88%88-%EC%95%84%EC%9D%B4%EC%BD%98.jpg" width="30px" height="30px">
                            <span>12</span>
                            <img src="https://us.123rf.com/450wm/draganae/draganae1612/draganae161200293/71426677-%EB%8C%93%EA%B8%80-%EC%95%84%EC%9D%B4%EC%BD%98-%EB%B2%A1%ED%84%B0.jpg" width="30px" height="30px">
                        </div>
                    </div>

                </div>
<!--------------------------------6번까지의 예시를 위한 작성글 끝------------------------------->




            </div>
        </div>
    </div>
</body>
</html>