<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 쪽지 보내기</title>
    <link rel="icon" href="/image/adminLogo.png">
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <link rel="stylesheet" href="/css/admin/adminHeader.css">
    <link rel="stylesheet" href="/css/admin/adminNote.css">
    <!-- 서머노트 -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="main-container">
    <div class="left-container">
        <div class="left-list check"><a href="/admin/note">쪽지 보내기</a></div>
        <div class="left-list"><a href="/admin/receivedNote">받은 쪽지함</a></div>
        <div class="left-list"><a href="/admin/sendNote">보낸 쪽지함</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">
                <img class="note-img" src="https://cdn.poomang.com/img/welcomemangd1/result/icon_letter.png" alt="">쪽지 보내기
            </div>
        </div>
        <div class="member-container">
            <form action="/admin/noteWrite" class="form-note">
                <div class="form-group">
                    <label for="recipient">받는 사람</label>
                    <input type="text" class="recipient" placeholder="아이디로 입력하세요" id="recipient" name="userId">
                </div>
                <div class="form-group">
                    <label for="recipients">쪽지 제목</label>
                    <input type="text" class="recipient" id="recipients" placeholder="제목을 입력하세요" name="noteTitle">
                </div>
                <div class="form-group">
                    <label for="summernote">쪽지 내용</label>
                    <textarea name="noteContent" id="summernote" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea>
                </div>
                <button>보내기</button>
            </form>
        </div>
    </div>
</div>
<script>
    $('#summernote').summernote({
        placeholder: '쪽지 내용을 입력해주세요',
        tabsize: 2,
        height: 400,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['view', ['help']]
        ]
    });
</script>
<script th:if="${param.noteError}">
    alert("쪽지 보내기 실패하였습니다. \n받는사람 아이디를 다시 확인해주세요.");
</script>
</body>
</html>