<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 게시글 상세</title>
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <link rel="stylesheet" href="/css/admin/adminHeader.css">
    <link rel="stylesheet" href="/css/admin/adminStudyDetail.css">
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="main-container">
    <div class="left-container">
        <div class="left-list check"><a href="/admin/board">스터디 게시글 관리</a></div>
        <div class="left-list"><a href="/admin/classPlan">수업계획 게시글 관리</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">스터디 상세 게시글</div>
        </div>

        <div class="content-box">
            <h2 th:text="${study.studyTitle}">영어 그룹 스터디를 모집합니다</h2><br>
            <div class="sub">
                <div th:text="${study.userId}"><b>이종민</b></div>&nbsp;|&nbsp;
                <div th:text="${study.studyRegisterDate}"> 2023. 10. 12</div>
            </div><br>
            <div class="sub">
                <div class="sub-box">
                    <div class="sub-category">진행 방식</div>
                    <div class="sub-content" th:text="${study.studyProcess}">오프 라인</div>
                </div>
                <div class="sub-box">
                    <div class="sub-category">시작 예정</div>
                    <div class="sub-content" th:text="${study.studyStartDate}">2023. 09. 27</div>
                </div>
            </div>
            <div class="sub">
                <div class="sub-box">
                    <div class="sub-category">모집 인원</div>
                    <div class="sub-content" th:text="${study.studyStudentCount}">2명</div>
                </div>
                <div class="sub-box">
                    <div class="sub-category">예상 기간</div>
                    <div class="sub-content" th:text="${study.studyDate}">3개월</div>
                </div>
            </div>
            <div class="sub">
                <div class="sub-box">
                    <div class="sub-category">지역</div>
                    <div class="sub-content" th:text="${study.studyAddress}">서울시 노원구</div>
                </div>
                <div class="sub-box">
                    <div class="sub-category">스터디 구분</div>
                    <div class="sub-content" th:text="${study.studyMajor}">영어 문법</div>
                </div>
            </div>
            <div class="content" th:utext="${study.studyContent}">
            </div>
            <div class="btn-box">
                <button class="rm" th:data-number="${study.studyNumber}">삭제</button>
                <button class="back-btn">뒤로가기</button>
            </div>



        </div>
    </div><!--"right-container" 끝-->
</div><!--"main-container" 끝-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/admin/adminStudy.js}"></script>
</body>
</html>