<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멘토 관리</title>
    <link rel="stylesheet" href="../../static/css/admin/adminMain.css">
    <link rel="stylesheet" href="../../static/css/admin/adminHeader.css">
</head>
<body>
    <header class="header">
        <span class="logo">GongU</span>
        <div class="header-container">
            
            <nav class="header-nav">
                <a href="adminMain.html">회원 관리</a>
                <a href="adminStudy.html">게시글 관리</a>
                <a href="adminMentoApplication.html">신청함 관리</a>
                <a href="adminNote.html">관리자 쪽지함</a>
            </nav>
            
        </div>
        <a href="">Logout</a>
    </header>
    <div class="main-container">
        <div class="left-container">
            <div class="left-list"><a href="adminMain.html">일반 회원</a></div>
            <div class="left-list check"><a href="adminMento.html">멘토 회원</a></div>
        </div>
        <div class="right-container">
            <div class="right-title">멘토 회원</div>
            <div class="member-container">
                <!-- 구분점 -->
                <div class="member-list thead">                    
                    <div class="number">번호</div>
                    <div class="id">아이디</div>
                    <div class="name">이름</div>
                    <div class="birth">생년월일</div>
                    <div class="phone">전화번호</div>
                    <div class="email">이메일</div>
                    <div class="sortation">구분</div>                    
                </div>
                <!-- 데이터가 들어오는 부분 -->
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <div class="member-list">                    
                    <div class="number">1</div>
                    <div class="id">bbagym</div>
                    <div class="name">테스트</div>
                    <div class="birth">1988-08-15</div>
                    <div class="phone">010-1234-5678</div>
                    <div class="email">test@naver.com</div>
                    <div class="sortation">
                        <div>멘토<button type="button" class="remove-btn">삭제</button></div>                                              
                    </div>                    
                </div>
                <!-- 20개의 데이터가 들어왔다 -->
                <div class="page-container">
                    <ul class="page-ul">
                        <li>&lt</li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>&gt</li>
                    </ul>
                    
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>