<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보낸쪽지함</title>
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <link rel="stylesheet" href="/css/admin/adminHeader.css">
    <link rel="stylesheet" href="/css/admin/adminReceivedNote.css">
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="main-container">
    <!-- 모달로 숨겨져 있는 영역 -->

    <!-- ===================== -->
    <div class="left-container">
        <div class="left-list"><a href="/admin/note">쪽지 보내기</a></div>
        <div class="left-list"><a href="/admin/receivedNote">받은 쪽지함</a></div>
        <div class="left-list check"><a href="/admin/sendNote">보낸 쪽지함</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">
                <img class="note-img" src="https://cdn.poomang.com/img/welcomemangd1/result/icon_letter.png" alt="">보낸 쪽지함
            </div>
        </div>
        <div class="member-container">
            <div class="showNumber">
                <div class="form-group">
                    <div class="note-text">받은 사람</div>
                    <div class="recipient" th:text="${send.userId}">bbagym</div>
                </div>
                <div class="form-group">
                    <div class="note-text">쪽지 제목</div>
                    <div class="recipient" th:text="${send.noteTitle}">관리자는 보아라!!!!!</div>
                </div>
                <div class="form-group">
                    <div class="note-text">쪽지 내용</div>
                    <div id="msg-content" th:utext="${send.noteContent}">관리자 관리자 관리자</div>
                </div>

                <div class="btn-box">
                    <button class="refusal-btn">삭 제</button>
                    <a th:href="@{/admin/sendNote}"><button class="back-btn">뒤로가기</button></a>
                </div>
            </div>
            <!-- 데이터가 끝나는 영역-->
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script th:src="@{/js/admin/adminReceivedNote.js}"></script>
</body>
</html>