<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 게시글 상세</title>
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <link rel="stylesheet" href="/css/admin/adminHeader.css">
    <link rel="stylesheet" href="/css/admin/adminStudyDetail.css">
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="main-container">
    <div class="left-container">
        <div class="left-list check"><a href="/admin/board">스터디 게시글 관리</a></div>
        <div class="left-list"><a href="/admin/classPlan">수업계획 게시글 관리</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">스터디 상세 게시글</div>
        </div>

        <div class="content-box">
            <h2>영어 그룹 스터디를 모집합니다</h2><br>
            <div class="sub">
                <div><b>이종민</b></div>&nbsp;|&nbsp;
                <div> 2023. 10. 12</div>
            </div><br>
            <div class="sub">
                <div class="sub-box">
                    <div class="sub-category">진행 방식</div>
                    <div class="sub-content">오프 라인</div>
                </div>
                <div class="sub-box">
                    <div class="sub-category">시작 예정</div>
                    <div class="sub-content">2023. 09. 27</div>
                </div>
            </div>
            <div class="sub">
                <div class="sub-box">
                    <div class="sub-category">모집 인원</div>
                    <div class="sub-content">2명</div>
                </div>
                <div class="sub-box">
                    <div class="sub-category">예상 기간</div>
                    <div class="sub-content">3개월</div>
                </div>
            </div>
            <div class="sub">
                <div class="sub-box">
                    <div class="sub-category">연락 방법</div>
                    <div class="sub-content">오픈톡 : 링크 걸기</div>
                </div>
                <div class="sub-box">
                    <div class="sub-category">스터디 구분</div>
                    <div class="sub-content">영어 문법</div>
                </div>
            </div>
            <div class="sub-box">
                <div class="sub-category">지역</div>
                <div class="sub-content">서울시 노원구</div>
            </div>
            <div class="content">
                **안녕하세요** <br><br>
                영어 스터디 모집합니다<br>
                문법위주 수업이며 토익 대비도 가능합니다<br>
                스피킹도 같이 할 예정이며 원하시는 분을 따로 알려주세요!<br>
                빼먹지 않고 꾸준히 참여하실 분으로 원합니다!!<br>
                * 지각은 노노<br>
                * 슬퍼하지마 노노노~<br>
                * 혼자가 아니야 노노노~<br>
                * 지각은 노노<br>
                * 슬퍼하지마 노노노~<br>
                * 혼자가 아니야 노노노~
            </div>
            <div class="btn-box">
                <button class="refusal-btn">삭 제</button>
                <a href="adminStudy.html"><button class="back-btn">뒤로가기</button></a>
            </div>



        </div>
    </div><!--"right-container" 끝-->
</div><!--"main-container" 끝-->

</body>
</html>