<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멘토 신청함 상세</title>
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <link rel="stylesheet" href="/css/admin/adminHeader.css">
    <link rel="stylesheet" href="/css/admin/adminMentoApplicationDetail.css">
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="main-container">
    <div class="left-container">
        <div class="left-list check"><a href="/admin/application">멘토 신청함</a></div>
        <div class="left-list"><a href="/admin/classApplication">수업계획 신청함</a></div>
    </div>
    <div class="right-container">
<!--        -->
        <div class="modal">

        </div>
<!--        -->
        <div class="right-title">
            <div class="right-title-sub">멘토 신청 상세페이지</div>
        </div>

        <div class="content-box">
            <div>
                <h2>학력</h2>
                <div class="education" th:text="${mento.applyEducation}">서울대학교 졸업</div>
            </div>
            <div>
                <h2>경력</h2>
                <div class="career" th:text="${mento.applyCareer}">경력사항 입력 결과</div>
            </div>
            <div>
                <h2>자격증</h2>
                <div class="certi" th:text="${mento.applyCerti}">자격증 입력사항</div>
            </div>
            <div>
                <h2>첨부파일</h2>
                <div class="file-box">

                </div>
            </div>
            <div class="btn-box">
                <button class="approval-detail-btn" th:data-number="${mento.applyNumber}">승 인</button>
                <button class="refusal-detail-btn"  th:data-number="${mento.applyNumber}">거 부</button>
                <button class="back-btn">뒤로가기</button>
            </div>
        </div>
    </div><!--"right-container" 끝-->
</div><!--"main-container" 끝-->
<input type="hidden" th:value="${mento.applyNumber}" class="apply-num">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/admin/adminMentoApplication.js}"></script>
</body>
</html>