<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디 게시글 상세</title>
    <link rel="stylesheet" href="adminMain.css">
    <link rel="stylesheet" href="adminHeader.css">
    <link rel="stylesheet" href="adminStudyDetail.css">
</head>
<body>
<header class="header">
    <span class="logo">GongU</span>
    <div class="header-container">

        <nav class="header-nav">
            <a href="adminMain.html">회원 관리</a>
            <a href="adminStudy.html">게시글 관리</a>
            <a href="adminMentoApplication.html">신청함 관리</a>
            <a href="adminNote.html">관리자 쪽지함</a>
        </nav>

    </div>
    <a href="">Logout</a>
</header>
<div class="main-container">
    <div class="left-container">
        <div class="left-list"><a href="adminStudy.html">스터디 게시글 관리</a></div>
        <div class="left-list check"><a href="adminClassPlan.html">수업계획 게시글 관리</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">수업계획 상세 게시글</div>
        </div>

        <div class="content-box">
            <h2>이종민 멘토와 함께 갈 할 학생 모집합니다</h2><br>
            <div class="sub">
                <div><b>이종민</b></div>&nbsp;|&nbsp;
                <div> 2023. 10. 12</div>
            </div><br>
            <div class="sub">
                <div class="sub-box">
                    <div class="sub-category">진행 방식</div>
                    <div class="sub-content">오프 라인</div>
                </div>
                <div class="sub-box">
                    <div class="sub-category">수업 일정</div>
                    <div class="sub-content">2023. 09. 27 ~ 2023.10. 27</div>
                </div>
            </div>
            <div class="sub">
                <div class="sub-box">
                    <div class="sub-category">가격</div>
                    <div class="sub-content">120,000 원</div>
                </div>
                <div class="sub-box">
                    <div class="sub-category">수업 구분</div>
                    <div class="sub-content">Java 프로그래밍 언어</div>
                </div>
            </div>
            <div class="sub">
                <div class="sub-box">
                    <div class="sub-category">지역</div>
                    <div class="sub-content">서울시 노원구</div>
                </div>
                <div class="sub-box">
                    <div class="sub-category">멘토 학력</div>
                    <div class="sub-content">서울대학교 맛집탐방학과</div>
                </div>
            </div><br>
            <div class="content-title">&lt;강사 소개&gt;</div>
            <div class="content">
                잘 가르치는 강사가 짱입니다~람쥐!!!!잘 가르치는 강사가 짱입니다~람쥐!!!!잘 가르치는 강사가 짱입니다~람쥐!!!!잘 가르치는 강사가 짱입니다~람쥐!!!!잘 가르치는 강사가 짱입니다~람쥐!!!!<br>
                잘 가르치는 강사가 짱입니다~람쥐!!!!<br>
                잘 가르치는 강사가 짱입니다~람쥐!!!!
            </div>
            <div class="content-title">&lt;수업 커리큘럼&gt;</div>
            <div class="content">
                재밌는 수업을 할 예정입니다~시다!!!!재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!<br>
                재밌는 수업을 할 예정입니다~시다!!!!
            </div>

            <div class="btn-box">
                <button class="refusal-btn">삭 제</button>
                <a href="adminClassPlan.html"><button class="back-btn">뒤로가기</button></a>
            </div>

        </div>
    </div><!--"right-container" 끝-->
</div><!--"main-container" 끝-->

</body>
</html>