<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 일반 유저관리</title>
    <link rel="icon" href="/image/adminLogo.png">
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <link rel="stylesheet" href="/css/admin/adminHeader.css">
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="main-container">
    <div class="left-container">
        <div class="left-list check"><a href="/admin/main">일반 회원</a></div>
        <div class="left-list"><a href="/admin/mento">멘토 회원</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">일반회원</div>
            <div>
                <form action="/admin/main" method="get">
                    <fieldset class="field">
                        <legend>회원 검색</legend>
                        <select name="cate" id="">
                            <option value="name">이름</option>
                            <option value="email">이메일</option>
                            <option value="id">아이디</option>
                        </select>
                        <input type="text" name="keyword">
                        <button class="search-btn">검색</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="member-container">
            <!-- 구분점 -->
            <div class="member-list thead">
                <div class="number">번호</div>
                <div class="id">아이디</div>
                <div class="name">이름</div>
                <div class="birth">생년월일</div>
                <div class="phone">전화번호</div>
                <div class="email">이메일</div>
                <div class="sortation">구분</div>
            </div>
            <!-- 데이터가 들어오는 부분 -->
            <div class="member-list" th:each="user : ${userList}">
                <div class="number" th:text="${user.rnum}"></div>
                <div class="id" th:text="${user.userId}"></div>
                <div class="name" th:text="${user.userName}"></div>
                <div class="birth" th:text="${user.userBirth}"></div>
                <div class="phone" th:text="${user.userPhone}"></div>
                <div class="email" th:text="${user.userEmail}"></div>
                <div class="sortation">
                    <div>일반<button type="button" class="remove-btn" th:data-number="${user.userNumber}">삭제</button></div>
                </div>
            </div>
            <!-- 20개의 데이터가 들어왔다 -->
            <!-- 페이징 처리 -->
            <div class="page-container">
                <ul class="page-ul">
                    <a th:href="@{/admin/main(page=${pageInfo.startPage-1})}" th:if="${pageInfo.prev}">
                        <li class="page-btn">&lt</li>
                    </a>
                    <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                        <a th:href="@{/admin/main(page=${i})}">
                            <li class="page-btn" th:text="${i}" th:if="${i != pageInfo.adminCriteria.page}"></li>
                            <li class="page-btn active" th:text="${i}" th:unless="${i != pageInfo.adminCriteria.page}"></li>
                        </a>
                    </th:block>
                    <a th:href="@{/admin/main(page=${pageInfo.endPage+1})}" class="page-a" th:if="${pageInfo.next}">
                        <li class="page-btn">&gt</li>
                    </a>
                </ul>
            </div>
            <!-- /페이징 처리 -->

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/admin/adminMain.js}"></script>
</body>
</html>