<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멘토 관리</title>
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <link rel="stylesheet" href="/css/admin/adminHeader.css">
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="main-container">
    <div class="left-container">
        <div class="left-list"><a href="/admin/main">일반 회원</a></div>
        <div class="left-list check"><a href="/admin/mento">멘토 회원</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">멘토회원</div>
            <div>
                <form action="" method="get">
                    <fieldset class="field">
                        <legend>회원 검색</legend>
                        <select name="cate" id="">
                            <option value="name">이름</option>
                            <option value="email">이메일</option>
                            <option value="id">아이디</option>
                        </select>
                        <input type="text" name="keyword">
                        <button class="search-btn">검색</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="member-container">
            <!-- 구분점 -->
            <div class="member-list thead">
                <div class="number">번호</div>
                <div class="id">아이디</div>
                <div class="name">이름</div>
                <div class="birth">생년월일</div>
                <div class="phone">전화번호</div>
                <div class="email">이메일</div>
                <div class="sortation">구분</div>
            </div>
            <!-- 데이터가 들어오는 부분 -->
            <div class="member-list" th:each="mento : ${mentoList}">
                <div class="number">1</div>
                <div class="id" th:text="${mento.userId}">bbagym</div>
                <div class="name" th:text="${mento.userName}">테스트</div>
                <div class="birth" th:text="${mento.userBirth}">1988-08-15</div>
                <div class="phone" th:text="${mento.userPhone}">010-1234-5678</div>
                <div class="email" th:text="${mento.userEmail}">test@naver.com</div>
                <div class="sortation">
                    <div>멘토<button type="button" class="remove-btn">삭제</button></div>
                </div>
            </div>
            <!-- 20개의 데이터가 들어왔다 -->
            <div class="page-container">
                <ul class="page-ul">
                    <li>&lt</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>&gt</li>
                </ul>

            </div>

        </div>
    </div>
</div>

</body>
</html>