<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 받은 쪽지</title>
    <link rel="icon" href="/image/adminLogo.png">
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <link rel="stylesheet" href="/css/admin/adminHeader.css">
    <link rel="stylesheet" href="/css/admin/adminReceivedNote.css">
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="main-container">
    <!-- 모달로 숨겨져 있는 영역 -->
    <div class="form-note showNumber">
        <div class="form-group">
            <div class="note-text">보낸 사람<span class="close-x">&nbsp;X&nbsp;</span></div>
            <div class="recipient">bbagym</div>
        </div>
        <div class="form-group">
            <div class="note-text">쪽지 제목</div>
            <div class="recipient">관리자는 보아라!!!!!</div>
        </div>
        <div class="form-group">
            <div class="note-text">쪽지 내용</div>
            <div id="msg-content">관리자 관리자 관리자</div>
        </div>
    </div>
    <!-- ===================== -->
    <div class="left-container">
        <div class="left-list"><a href="/admin/note">쪽지 보내기</a></div>
        <div class="left-list check"><a href="/admin/receivedNote">받은 쪽지함</a></div>
        <div class="left-list"><a href="/admin/sendNote">보낸 쪽지함</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">
                <img class="note-img" src="https://cdn.poomang.com/img/welcomemangd1/result/icon_letter.png" alt="">받은 쪽지함
            </div>
            <div>
                <form action="" method="get">
                    <fieldset class="field">
                        <legend>쪽지 검색</legend>
                        <select name="cate" id="">
                            <option value="id">아이디</option>
                            <option value="title">제목</option>
                        </select>
                        <input type="text" name="keyword">
                        <button class="search-btn">검색</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="member-container">
            <div class="member-list thead">
                <div class="number">번호</div>
                <div class="id">보낸 사람</div>
                <div class="title">제목</div>
                <div class="date">보낸날짜</div>
                <div class="sortation">구분</div>
            </div>
            <!-- 데이터가 들어오는 영역 -->
            <div class="member-list" th:each="received : ${receivedList}">
                <div class="number" th:text="${received.rnum}">1</div>
                <div class="id" th:text="${received.userId}">test</div>
                <div class="title" th:text="${received.noteTitle}">관리자는 보아라관리자는 보아라</div>
                <div class="date" th:text="${received.noteRegisterDate}">2023년 09월 15일</div>
                <div class="sortation">
                    <a th:href="@{/admin/receivedNoteDetail(noteNumber=${received.noteNumber})}"><button class="show-btn">읽기</button></a>
                    <button class="remove-btn" th:data-number="${received.noteNumber}">삭제</button>
                </div>
            </div>
            <!-- 데이터가 끝나는 영역-->
            <div class="page-container">
                <ul class="page-ul">
                    <a th:href="@{/admin/receivedNote(page=${pageInfo.startPage-1})}" th:if="${pageInfo.prev}">
                        <li class="page-btn">&lt</li>
                    </a>
                    <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                        <a th:href="@{/admin/receivedNote(page=${i})}">
                            <li class="page-btn" th:text="${i}" th:if="${i != pageInfo.adminCriteria.page}"></li>
                            <li class="page-btn active" th:text="${i}" th:unless="${i != pageInfo.adminCriteria.page}"></li>
                        </a>
                    </th:block>
                    <a th:href="@{/admin/receivedNote(page=${pageInfo.endPage+1})}" class="page-a" th:if="${pageInfo.next}">
                        <li class="page-btn">&gt</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script th:src="@{/js/admin/adminReceivedNote.js}"></script>
</body>
</html>