<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 메인(유저관리)</title>
    <link rel="stylesheet" href="adminMain.css">
    <link rel="stylesheet" href="adminHeader.css">
    <link rel="stylesheet" href="adminReceivedNote.css">
</head>
<body>
<header class="header">
    <span class="logo">GongU</span>
    <div class="header-container">

        <nav class="header-nav">
            <a href="adminMain.html">회원 관리</a>
            <a href="adminStudy.html">게시글 관리</a>
            <a href="adminMentoApplication.html">신청함 관리</a>
            <a href="adminNote.html">관리자 쪽지함</a>
        </nav>

    </div>
    <a href="">Logout</a>
</header>
<div class="main-container">
    <!-- 모달로 숨겨져 있는 영역 -->
    <div class="form-note">
        <div class="form-group">
            <div class="note-text">보낸 사람<span class="close-x">&nbsp;X&nbsp;</span></div>
            <div id="recipient">bbagym</div>
        </div>
        <div class="form-group">
            <div class="note-text">쪽지 제목</div>
            <div id="recipient">관리자는 보아라!!!!!</div>
        </div>
        <div class="form-group">
            <div class="note-text">쪽지 내용</div>
            <div id="msg-content">관리자 관리자 관리자</div>
        </div>
    </div>
    <!-- ===================== -->
    <div class="left-container">
        <div class="left-list"><a href="adminNote.html">쪽지 보내기</a></div>
        <div class="left-list check"><a href="adminReceivedNote.html">받은 쪽지함</a></div>
        <div class="left-list"><a href="adminSendNote.html">보낸 쪽지함</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">
                <img class="note-img" src="https://cdn.poomang.com/img/welcomemangd1/result/icon_letter.png" alt="">받은 쪽지함
            </div>
            <div>
                <form action="" method="get">
                    <fieldset class="field">
                        <legend>쪽지 검색</legend>
                        <select name="cate" id="">
                            <option value="id">아이디</option>
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                        </select>
                        <input type="text" name="keyword">
                        <button class="search-btn">검색</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="member-container">
            <div class="member-list thead">
                <div class="number">번호</div>
                <div class="id">보낸 사람</div>
                <div class="title">제목</div>
                <div class="date">보낸날짜</div>
                <div class="sortation">구분</div>
            </div>
            <!-- 데이터가 들어오는 영역 -->
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">test</div>
                <div class="title">관리자는 보아라관리자는 보아라</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><button class="show-btn">읽기</button><button class="remove-btn">삭제</button></div>
            </div>
            <!-- 데이터가 끝나는 영역-->
            <div class="page-container">
                <ul class="page-ul">
                    <li>&lt</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>&gt</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="adminReceivedNote.js"></script>
</body>
</html>