<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스터디</title>
    <link rel="stylesheet" href="adminMain.css">
    <link rel="stylesheet" href="adminHeader.css">
    <link rel="stylesheet" href="adminReceivedNote.css">
</head>
<body>
<header class="header">
    <span class="logo">GongU</span>
    <div class="header-container">

        <nav class="header-nav">
            <a href="adminMain.html">회원 관리</a>
            <a href="adminStudy.html">게시글 관리</a>
            <a href="adminMentoApplication.html">신청함 관리</a>
            <a href="adminNote.html">관리자 쪽지함</a>
        </nav>

    </div>
    <a href="">Logout</a>
</header>
<div class="main-container">
    <div class="left-container">
        <div class="left-list check"><a href="adminStudy.html">스터디 게시글 관리</a></div>
        <div class="left-list"><a href="adminClassPlan.html">수업계획 게시글 관리</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">스터디 모집</div>
            <div>
                <form action="" method="get">
                    <fieldset class="field">
                        <legend>게시글 검색</legend>
                        <select name="cate" id="">
                            <option value="id">아이디</option>
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                        </select>
                        <input type="text" name="keyword">
                        <button class="search-btn">검색</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="member-container">
            <div class="member-list thead">
                <div class="number">번호</div>
                <div class="id">작성자</div>
                <div class="title">제목</div>
                <div class="date">작성일자</div>
                <div class="sortation">구분</div>
            </div>
            <!-- 데이터가 들어오는 영역 -->
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <div class="member-list">
                <div class="number">1</div>
                <div class="id">wlqrkwk</div>
                <div class="title">같이 스피킹 영어 공부 하실 분??</div>
                <div class="date">2023년 09월 15일</div>
                <div class="sortation"><a href="adminStudyDetail.html"><button class="show-btn">보기</button></a><button class="remove-btn">삭제</button></div>
            </div>
            <!-- 데이터가 끝나는 영역-->
            <div class="page-container">
                <ul class="page-ul">
                    <li>&lt</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>&gt</li>
                </ul>

            </div>
        </div>
    </div>
</div>

</body>
</html>