<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 멘토 신청</title>
    <link rel="icon" href="/image/adminLogo.png">
    <link rel="stylesheet" href="/css/admin/adminMain.css">
    <link rel="stylesheet" href="/css/admin/adminHeader.css">
    <link rel="stylesheet" href="/css/admin/adminMentoApplication.css">
</head>
<body>
<header th:replace="fragments/adminHeader :: adminHeader"></header>
<div class="main-container">
    <div class="left-container">
        <div class="left-list check"><a href="/admin/application">멘토 신청함</a></div>
        <div class="left-list"><a href="/admin/classApplication">수업계획 신청함</a></div>
    </div>
    <div class="right-container">
        <div class="right-title">
            <div class="right-title-sub">멘토 신청 목록</div>
            <div>
                <form action="" method="get">
                    <fieldset class="field">
                        <legend>신청회원 검색</legend>
                        <select name="cate" id="">
                            <option value="name">이름</option>
                            <option value="id">아이디</option>
                        </select>
                        <input type="text" name="keyword">
                        <button class="search-btn">검색</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="member-container">
            <div class="member-list thead">
                <div class="number">번호</div>
                <div class="id">아이디</div>
                <div class="name">이름</div>
                <div class="birth">생년월일</div>
                <div class="phone">전화번호</div>
                <div class="academic">전공</div>
                <div class="sortation-mento">구분</div>
            </div>
            <!-- 데이터가 들어오는 영역 -->
            <div class="member-list" th:each="mento : ${mentoList}">
                <div class="number" th:text="${mento.rnum}">1</div>
                <div class="id" th:text="${mento.userId}">test</div>
                <div class="name" th:text="${mento.userName}">테스트</div>
                <div class="birth" th:text="${mento.userBirth}">1990-09-15</div>
                <div class="phone" th:text="${mento.userPhone}">010-1234-5678</div>
                <div class="academic" th:text="${mento.userMajor}">서울대학교</div>
                <div class="sortation-mento">
                    <button class="detail-btn"><a th:href="@{/admin/mentoApplyDetail(applyNumber = ${mento.applyNumber})}">상세</a></button>
                    <button class="approval-btn" th:data-number="${mento.applyNumber}">승인</button>
                    <button class="refusal-btn " th:data-number="${mento.applyNumber}">거부</button>
                </div>
            </div>
            <!-- 데이터가 끝나는 영역-->
            <!-- 페이징 처리 -->
            <div class="page-container">
                <ul class="page-ul">
                    <a th:href="@{/admin/application(page=${pageInfo.startPage-1})}" th:if="${pageInfo.prev}">
                        <li class="page-btn">&lt</li>
                    </a>
                    <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                        <a th:href="@{/admin/application(page=${i})}">
                            <li class="page-btn" th:text="${i}" th:if="${i != pageInfo.adminCriteria.page}"></li>
                            <li class="page-btn active" th:text="${i}" th:unless="${i != pageInfo.adminCriteria.page}"></li>
                        </a>
                    </th:block>
                    <a th:href="@{/admin/application(page=${pageInfo.endPage+1})}" class="page-a" th:if="${pageInfo.next}">
                        <li class="page-btn">&gt</li>
                    </a>
                </ul>
            </div>
            <!-- /페이징 처리 -->
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/admin/adminMentoApplication.js}"></script>
</body>
</html>