<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.gongu.domain.dto.ClassDto" alias="classDto"/>
        <typeAlias type="com.example.gongu.domain.dto.UserDto" alias="userDto"/>
        <typeAlias type="com.example.gongu.domain.dto.ClassReplyDto" alias="classReplyDto"/>
        <typeAlias type="com.example.gongu.domain.dto.ImageDto" alias="imageDto"/>
        <typeAlias type="com.example.gongu.domain.dto.LikeDto" alias="likeDto"/>
        <typeAlias type="com.example.gongu.domain.dto.MentoApplyDto" alias="mentoApplyDto"/>
        <typeAlias type="com.example.gongu.domain.dto.NoteDto" alias="noteDto"/>
        <typeAlias type="com.example.gongu.domain.dto.StudyDto" alias="studyDto"/>
        <typeAlias type="com.example.gongu.domain.dto.StudyReplyDto" alias="studyReplyDto"/>

        <typeAlias type="com.example.gongu.domain.vo.StudyVo" alias="studyVo"/>
        <typeAlias type="com.example.gongu.domain.vo.PageVo" alias="pageVo"/>
        <typeAlias type="com.example.gongu.domain.vo.StudyReplyVo" alias="studyReplyVo"/>

        <typeAlias type="com.example.gongu.domain.vo.Criteria" alias="criteria"/>
        <typeAlias type="com.example.gongu.domain.vo.SearchVo" alias="searchVo"/>

        <typeAlias type="com.example.gongu.domain.vo.admin.AdminCriteria" alias="adminCriteria"/>
        <typeAlias type="com.example.gongu.domain.vo.admin.AminUserVo" alias="adminUserVo"/>
        <typeAlias type="com.example.gongu.domain.vo.admin.AdminStudyVo" alias="adminStudyVo"/>
        <typeAlias type="com.example.gongu.domain.vo.admin.AdminClassVo" alias="adminClassVo"/>
        <typeAlias type="com.example.gongu.domain.vo.admin.AdminMentoApplyVo" alias="adminMentoVo"/>
        <typeAlias type="com.example.gongu.domain.vo.admin.AdminNoteVo" alias="adminNoteVo"/>
    </typeAliases>
</configuration>