*{
    margin: 0;
    padding: 0;
}
span{
    font-weight: bold;
}
body{
    width:100%;
    height:100%;
    background-color: antiquewhite;
    display: flex;
    margin-top: 20px;
}
.full-box{

    width: 900px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}


.formfull-box{
    
    margin-left: 50px;
    margin-top: 50px;
}
.getherPeople-div{
    display: flex;  

}

.getherInfo{
    height: 100px;

}

.howTo-div{
    margin-right: 20px;
}

.study-div{
    display: flex;
    margin-top: 20px;
}
.period-div{
    margin-left: 20px;
    
}

input[type='text']{
    height: 33px; 
    width: 300px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
   
}

input[type='date']{
    height: 33px; 
    width: 300px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}
select{
    height: 33px; 
    width: 300px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}

.location-div{
    display: flex;
    margin-top: 20px;

}
.conntect-div{
    margin-top: 20px;
}
.deadline-div{
    margin-left: 20px;
}
.kakaoChat-div{
    margin-top: 10px;
}
.section-2{

    margin-top: 40px;
    margin-bottom: 20px;
}
.aboutStudy{
  
    height: 100px;
}
.button-div{
    margin-top: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: end;
}
.rest-btn{
    margin-right: 10px;
    width: 50px;
    background-color: wheat;
    border-radius: 5px;
}
.registerBtn{
    width: 60px;
    background-color: black;
    color : white;
    border-radius: 5px;
}

h1, h2{
    display: flex;
    
}
.number1{
    margin-right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffcd00;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin-top: 8px;
    }
