<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쪽지내용</title>
    <link rel="stylesheet" href="/css/note/receiveNoteDetail.css">
    <link rel="stylesheet" href="/css/receiveNoteDetail.css">
    <script src="https://kit.fontawesome.com/acf4f592bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header th:replace="fragments/header :: header" class="header"></header>
    <div class="note-wrap">
        <!-- 쪽지함 바디 -->
        <div class="note-body">
            <!-- 쪽지함 기능들 -->
            <div class="menu-container">
                <a href="/note/writeNote" class="btn-note-write">
                    <span>쪽지쓰기</span>
                </a>
                <div class="receive">
                    <a href="/note/receiveList" class="a-receive">받은쪽지함</a>
                </div>
                <div class="send">
                    <a href="/note/sendList" class="a-send">보낸쪽지함</a>
                </div>
            </div>
            <!-- 쪽지함 기능 내용(비동기 처리?) -->
            <div class="note-container">
                <div class="note-send">
                    쪽지내용
                </div>
                <div class="note-box">
                    <!-- 쪽지 -->
                    <div class="note-write-container">
                        <div class="receiver-box">
                            <div class="receiver-word">보낸사람</div>
                            <div class="note-sender" th:text="${receiveNoteDetail.userNickname}">상대방 아이디</div>
                        </div>
                        <div class="title-box">
                            <div class="title-word">제목</div>
                            <div class="note-title" th:text="${receiveNoteDetail.noteTitle}">상대가 보낸 제목</div>
                        </div>
                        <div class="content-box">
                            <div class="content-word">내용</div>
                            <!-- 내용 받아서 넣기 시작 -->
                            <div class="note-content" th:utext="${receiveNoteDetail.noteContent}"></div>
                            <!-- 내용 받아서 넣기 끝 -->
                        </div>
                        <form method="post" action="/note/receiveRemove">
                            <div class="btn-box">
                                <button class="btn-note-delete">삭제</button>
                            </div>
                            <input type="hidden" th:value="${receiveNoteDetail.noteNumber}" name="noteNumber">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>