<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보낸쪽지함</title>
    <link rel="stylesheet" href="/css/note/sendNote.css">
</head>
<body>
    <div class="note-wrap">
        <!-- 쪽지함 전용 헤더 -->
        <div class="note-header">
            <div class="note-main-box">
                <a href="" class="gongu-main">GONGU</a>
                <a href="/note/receiveList" class="note-main">쪽지</a>
            </div>
            <div class="logout">
                <span>로그아웃</span>
            </div>
        </div>
        <!-- 쪽지함 바디 -->
        <div class="note-body">
            <!-- 쪽지함 기능들 -->
            <div class="menu-container">
                <a href="/note/writeNote" class="btn-note-write">
                    <span>쪽지쓰기</span>
                </a>
                <div class="receive">
                    <a href="/note/receiveList">받은쪽지함</a>
                </div>
                <div class="send">
                    <a href="/note/sendList">보낸쪽지함</a>
                </div>
            </div>
            <!-- 쪽지함 기능 내용(비동기 처리?) -->
            <div class="note-container">
                <div class="note-send">
                    보낸쪽지함
                </div>
                <div class="note-box">
                    <!-- 쪽지내용 -->
                    <div class="note-table">
                        <div class="th">
                            <div class="note-user td">받은사람</div>
                            <div class="note-title td">제목</div>
                            <div class="note-date td">날짜</div>
                            <div class="note-content td">내용</div>
                            <div class="note-delete td">삭제</div>
                        </div>
                        <!-- 반복출력 시작 -->
                        <div class="tr" th:each="note : ${sendNote}">
                            <div class="note-user td">
                                <span th:text="${note.userId}">아이디</span>
                            </div>
                            <div class="note-title td">
                                <span th:text="${note.noteTitle}">쪽지 제목입니다</span>
                            </div>
                            <div class="note-date td" th:text="${note.noteRegisterDate}">2023.09.16</div>
                            <form method="get" action="/note/sendNote">
                                <div class="del">
                                    <button class="btn-content">내용</button>
                                </div>
                                <input type="hidden" th:value="${note.noteNumber}" name="noteNumber">
                            </form>
                            <form method="post" action="/note/sendRemove">
                                <div class="del">
                                    <button class="btn-delete">삭제</button>
                                </div>
                                <input type="hidden" th:value="${note.noteNumber}" name="noteNumber">
                            </form>
                        </div>
                        <!-- 반복출력 끝 -->
                    </div>
                    <!-- 페이징 처리 -->
                    <div class="page-container">
                        <ul class="page-box">
                            <a th:href="@{/note/sendList(page=${pageInfo.startPage-1})}" class="page-a" th:if="${pageInfo.prev}">
                                <li class="page-num prev">&lt</li>
                            </a>

                            <!--
                                페이징 처리는 시작번호~끝번호까지 반복을 돌려야 하므로 빠른 for문으로만 처리할 수 없다.
                                그렇기 때문에 타임리프에서 제공해주는 객체를 사용하여 처리한다. #을 붙이면 타임리프에서 제공해주는 객체를 사용한다.
                                numbers라는 객체가 제공하는 sequence(시작값, 끝값)라는 메소드를 이용한다. 1, 5 -> 1,2,3,4,5
                            -->
                            <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                                <a th:href="@{/note/sendList(page=${i})}" class="page-a">
                                    <li class="page-num" th:text="${i}" th:if="${i != pageInfo.noteCriteria.page}"></li>
                                    <li class="page-num active" th:text="${i}" th:unless="${i != pageInfo.noteCriteria.page}"></li>
                                </a>
                            </th:block>

                            <a th:href="@{/note/sendList(page=${pageInfo.endPage+1})}" class="page-a" th:if="${pageInfo.next}">
                                <li class="page-num next">&gt</li>
                            </a>
                        </ul>
                    </div>
                    <!-- /페이징 처리 -->
                </div>
            </div>
        </div>
    </div>
<script src="/js/note/sendNote.js"></script>
</body>
</html>