<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보낸쪽지함</title>
    <link rel="stylesheet" href="sendNote.css">
</head>
<body>
    <div class="note-wrap">
        <!-- 쪽지함 전용 헤더 -->
        <div class="note-header">
            <div class="note-main-box">
                <a href="" class="gongu-main">GONGU</a>
                <a href="receiveNote.html" class="note-main">쪽지</a>
            </div>
            <div class="logout">
                <span>로그아웃</span>
            </div>
        </div>
        <!-- 쪽지함 바디 -->
        <div class="note-body">
            <!-- 쪽지함 기능들 -->
            <div class="menu-container">
                <a href="noteWrite.html" class="btn-note-write">
                    <span>쪽지쓰기</span>
                </a>
                <div class="receive">
                    <a href="receiveNote.html">받은쪽지함</a>
                </div>
                <div class="send">
                    <a href="sendNote.html">보낸쪽지함</a>
                </div>
            </div>
            <!-- 쪽지함 기능 내용(비동기 처리?) -->
            <div class="note-container">
                <div class="note-send">
                    보낸쪽지함
                </div>
                <div class="note-box">
                    <!-- 쪽지내용 -->
                    <div class="note-table">
                        <div class="th">
                            <div class="note-user td">받은사람</div>
                            <div class="note-title td">제목</div>
                            <div class="note-date td">날짜</div>
                            <div class="note-delete td">삭제</div>
                        </div>
                        <!-- 반복출력 시작 -->
                        <div class="tr">
                            <div class="note-user td">
                                <a href="noteWrite.html">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <!-- 반복출력 끝 -->
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">누르면</a>
                            </div>
                            <div class="note-title td">
                                <a href="">누르면 내용 확인 가능</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">쪽지쓰기창</a>
                            </div>
                            <div class="note-title td">
                                <a href="">현재 구현 준비 중</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">가는걸로</a>
                            </div>
                            <div class="note-title td">
                                <a href="">언젠간 가능</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="note-user td">
                                <a href="">아이디</a>
                            </div>
                            <div class="note-title td">
                                <a href="">쪽지 제목입니다</a>
                            </div>
                            <div class="note-date td">2023.09.16</div>
                            <div class="del">
                                <a href="" class="btn-delete">삭제</a>
                            </div>
                        </div>
                    </div>
                    <div class="page-container">
                        <button class="prev-btn"><</button>
                        <button class="page-btn">1</button>
                        <button class="page-btn">2</button>
                        <button class="page-btn">3</button>
                        <button class="page-btn">4</button>
                        <button class="page-btn">5</button>
                        <button class="next-btn">></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>