<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/index.css"/>
  <link rel="stylesheet" href="../../static/css/user/findId.css"/>
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
  <style>

  </style>
</head>
<body>



<section class="login-form">
  <form action="">
    <div class="int-area">
      <input type="text" name="id" id="id" autocomplete="off" required>
      <label for="id">아이디 입력</label>
    </div>
    <div class="int-area">
      <input type="text" name="phone" id="phone" autocomplete="off" required>
      <label for="phone">전화번호 입력</label> <button id="sendSmsAuth" class="id-btn certificationIssue sendSmsAuth btnStroke" type="button">인증번호 발송</button></label>
    </div>
    <div class="int-area none">
      <input type="text" name="cerNumber" id="cerNumber" autocomplete="off" required>
      <label for="cerNumber">인증번호 입력 <span class="certificationTime">03:00</span></label>
    </div>
    <div class="btn-area">
      <button type="button" id="btn">비밀번호 찾기</button>
    </div>
  </form>
</section>

<!--모달창-->
<div id="modal" class="modal-overlay">
  <div class="modal-window">
    <div class="title">

    </div>
    <div class="close-area">X</div>
    <div class="content">
      <h1>회원님의 비밀번호는 "1234" 입니다.</h1>

    </div>
  </div>
</div>

<script src="../../static/js/findId.js"></script>
</body>
</html>