<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css"/>
  <link rel="stylesheet" href="/css/user/findPassword.css"/>
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
</head>
<body>

<section class="login-form">
  <form action="/user/findPassword" method="post">
    <div class="int-area">
      <input type="text" name="userId" id="userId" autocomplete="off" required>
      <label for="userId">아이디 입력</label>
    </div>
    <div class="int-area">
      <input type="text" name="userPhone" id="userPhone" autocomplete="off" pattern="^[0-9]+$" required>
      <label for="userPhone">전화번호 : 번호만 입력하세요</label> <button id="sendSmsAuth" class="id-btn certificationIssue sendSmsAuth btnStroke" type="button">인증번호 발송</button></label>
    </div>
    <div class="int-area none">
      <input type="text" name="cerNumber" id="cerNumber" autocomplete="off" required>
      <label for="cerNumber">인증번호 입력 <span class="certificationTime">03:00</span></label>
    </div>
    <div class="btn-area">
      <button type="button" id="verifyBtn">비밀번호 찾기</button>
    </div>
  </form>
</section>

<!--모달창-->
<div id="modal" class="modal-overlay">
  <div class="modal-window">
    <div class="title">

    </div>
    <div class="close-area">X</div>
    <div class="content">
      <h1>회원님의 비밀번호는 <span id="userPasswordSpan"></span> 입니다.</h1>
    </div>
  </div>
</div>

<script src="/js/findPassword.js"></script>
</body>
</html>