<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/index.css"/>
  <link rel="stylesheet" href="/css/user/join.css"/>
</head>
<body>


<section class="login-form">

  <form action="/user/join" method="post">
    <div class="int-area">
      <input  type="text" class="id_input" name="userId" id="userId" autocomplete="off" required>
      <label for="userId">아이디</label>
      <span class="id_input_re_1">사용 가능한 아이디 입니다.</span>
      <span class="id_input_re_2">이미 존재하는 아이디 입니다.</span>
    </div>
    <div class="int-area">
      <input type="password" name="userPassword" id="userPassword" autocomplete="off" required>
      <label for="userPassword">비밀번호</label>
    </div>
    <div class="int-area">
      <input type="password" name="confirm-password" id="confirm-password" autocomplete="off" required>
      <label for="confirm-password">비밀번호 확인</label> <span class="confirm-password-ok none">비밀번호가 일치합니다!</span> <span class="confirm-password-no none ">비밀번호가 일치하지 않습니다!</span>
    </div>
    <div class="int-area">

      <input type="text" name="userNickname" id="pw" autocomplete="off" required>
      <label for="pw">닉네임</label>
    </div>
    <div class="int-area">
      <input type="email" name="userEmail" id="email" autocomplete="off" required>
      <label for="pw">이메일</label>
    </div>
    <div class="int-area">
      <input type="text" name="userPhone" id="phone" autocomplete="off" pattern="^[0-9]+$" required>
      <label for="pw">전화번호 : 번호만 입렫하세요</label>
    </div>


    <div class="int-area">
      <label for="category">
        전공분야
      </label>
      <select id="category" name="userMajor">
        <option value="select">-- 선택하세요 --</option>
        <optgroup label="수학">
          <option value="arithmetic">산술학</option>
          <option value="algebra">대수학</option>
          <option value="geometry">기하학</option>
          <option value="topology">위상수학</option>
          <option value="analytics">해석학</option>
        </optgroup>
        <optgroup label="과학">
          <option value="lifeScience">생명과학</option>
          <option value="lifeScience">기초과학</option>
          <option value="naturalScience">자연과학</option>
          <option value="scientificTechnique">과학기술</option>
        </optgroup>
        <optgroup label="국어">
          <option value="nationalLanguage">국어학</option>
          <option value="classical">고전문학</option>
          <option value="current">현대문학</option>
          <option value="korean">국어국문</option>
        </optgroup>
        <optgroup label="언어">
          <option value="eng">영어</option>
          <option value="chinese">중국어</option>
          <option value="french">프랑스어</option>
          <option value="japanese">일본어</option>
          <option value="german">독일어</option>
        </optgroup>
        <optgroup label="기타">
          <option value="etc">기타</option>
        </optgroup>
      </select>

    </div>
    <div class="int-area">
      <div class="info" id="info__birth">
        <select class="box" id="birth-year">
          <option disabled selected>출생 연도</option>
        </select>
        <select class="box" id="birth-month">
          <option disabled selected>월</option>
        </select>
        <select class="box" id="birth-day">
          <option disabled selected>일</option>
        </select>
        <input type="hidden" id="userBirth" name="userBirth">

      </div>
    </div>
    <div class="btn-area">
      <button type="submit" id="btn">회원가입</button>
    </div>
  </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<script src="/js/join.js">

</script>
</body>
</html>

