<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/index.css"/>
  <link rel="stylesheet" href="/css/user/login.css"/>
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

</head>
<body>


<div>
  <!--에러 메세지 표시 부분 추가함-->
  <div id="error-message" style="display: none; color: red;">
    아이디 또는 비밀번호가 일치하지 않습니다.
  </div>

  <section class="login-form">
    <form action="/user/login" method="post">
      <div class="int-area">
        <input type="text" name="userId" id="id" autocomplete="off" required>
        <label for="id">아이디</label>
      </div>
      <div class="int-area">
        <input type="password" name="userPassword" id="pw" autocomplete="off" required>
        <label for="pw">비밀번호</label>
      </div>
      <div class="btn-area">
        <button type="submit" id="btn">로그인</button>
      </div>
    </form>
    <div class="caption">
      <a th:href="@{/user/findId}">아이디 잊으셨나요?</a>
    </div>
    <div class="caption">
      <a th:href="@{/user/findPassword}">비밀번호를 잊으셨나요?</a>
    </div>
    <br>
    <div class="caption">
      <a th:href="@{/user/join}">계정이 없으신가요??</a>
    </div>


  </section>

  <a id="kakao-login-btn" href="javascript:loginWithKakao()">
    <img class="kakao_img" th:src="@{/image/kakao.png}">
  </a>
  <p id="token-result"></p>

</div>



<script src="/js/login.js"></script>

<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.4.0/kakao.min.js"
        integrity="sha384-mXVrIX2T/Kszp6Z0aEWaA8Nm7J6/ZeWXbL8UpGRjKwWe56Srd/iyNmWMBhcItAjH" crossorigin="anonymous"></script>

<script>
  Kakao.init('2b9b74840792632b95ed4101ef3b78bf'); // 사용하려는 앱의 JavaScript 키 입력
</script>

<script>
  function loginWithKakao() {
    Kakao.Auth.authorize({
      redirectUri: 'http://localhost:10000/user/kakao',
    });
  }

  // 아래는 데모를 위한 UI 코드입니다.
  displayToken()
  function displayToken() {
    var token = getCookie('authorize-access-token');

    if(token) {
      Kakao.Auth.setAccessToken(token);
      Kakao.Auth.getStatusInfo()
              .then(function(res) {
                if (res.status === 'connected') {
                  document.getElementById('token-result').innerText
                          = 'login success, token: ' + Kakao.Auth.getAccessToken();

                  console.log(res);
                  alert("gg");

                  sessionStorage.setItem("res",JSON.stringify())


                }
              })
              .catch(function(err) {
                Kakao.Auth.setAccessToken(null);
              });
    }
  }

  function getCookie(name) {
    var parts = document.cookie.split(name + '=');
    if (parts.length === 2) { return parts[1].split(';')[0]; }
  }
</script>



</body>
</html>

