<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/index.css"/>
  <link rel="stylesheet" href="/css/user/login.css"/>
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

</head>
<body>



<section class="login-form">
  <form action="/user/login" method="post">
    <div class="int-area">
      <input type="text" name="userId" id="userId" autocomplete="off" required>
      <label for="userId">아이디</label>
    </div>
    <div class="int-area">
      <input type="password" name="userPassword" id="userPassword" autocomplete="off" required>
      <label for="userPassword">비밀번호</label>
    </div>
    <div class="btn-area">
      <button type="submit" id="btn">로그인</button>
    </div>
  </form>
  <div class="caption">
    <a href="findId.html">아이디 잊으셨나요?</a>
  </div>
  <div class="caption">
    <a href="findPassword.html">비밀번호를 잊으셨나요?</a>
  </div>
  <br>
  <div class="caption">
    <a href="">계정이 없으신가요??</a>
  </div>

</section>

<script src="../../static/js/login.js">

</script>
</body>
</html>