<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/index.css"/>
  <link rel="stylesheet" href="/css/user/login.css"/>
  <script src="https://code.jquery.com/jquery-3.6.4.js"></script>

</head>
<body>
<div>
  <section class="login-form">
    <a th:href="@{/user/index}">
      <div class="login-img-goto"></div>
    </a>
    <div class="login-page-info">로그인</div>
    <form action="/user/login" method="post">

      <div class="int-area">
        <input type="text" name="userId" id="id" autocomplete="off" required>
        <label for="id">아이디</label>
      </div>

      <div class="int-area">
        <input type="password" name="userPassword" id="pw" autocomplete="off" required>
        <label for="pw">비밀번호</label>
      </div>
      <div class="btn-area">
        <button type="submit" id="btn">로그인</button>
      </div>
    </form>
    <div class="caption">
      <a th:href="@{/user/findId}">아이디 잊으셨나요?</a>
    </div>
    <div class="caption">
      <a th:href="@{/user/findPassword}">비밀번호를 잊으셨나요?</a>
    </div>
    <div class="caption">
      <a th:href="@{/user/join}">계정이 없으신가요??</a>
    </div>
  </section>
</div>

<script src="/js/login.js"></script>


<script th:if="${param.loginError}">
  alert("로그인에 실패하였습니다.\n아이다와 비밀번호를 다시 확인해주세요.");
</script>
</body>
</html>
