<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 결제 목록</title>
  <link rel="stylesheet" href="/css/user/paymentBoard.css">
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="cate-title"><i class="fa-regular fa-credit-card fa-lg" style="color: #000000;"></i>&nbsp;결제 목록</div>
<div class="payment-box">
<!--  <th:block th:each = "pay : ${payList}">-->
<!--  <div class="payment-content">-->
<!--    <div class="mento-name">&lt;!&ndash;mento-name&ndash;&gt;-->
<!--      <div class="flex-box flex-mento">-->
<!--        <div class="sub-mento" th:text="${pay.userName}+' 멘토'">이종민 멘토</div>-->
<!--        <a th:href="@{/class/detail(classNumber=${pay.classNumber})}"><div class="detail-show">상세보기</div></a>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash;mento-name&ndash;&gt;-->
<!--    <div>-->
<!--      <div class="flex-box">-->
<!--        <div class="sub-title">학 력</div><div th:text="${pay.applyEducation}">서울대학교 졸업</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <div class="flex-box">-->
<!--        <div class="sub-title">금 액</div><div th:text="${pay.classPrice}+' 원'">200000원</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <div class="flex-box">-->
<!--        <div class="sub-title">지 역</div><div th:text="${pay.classAddress}">서울시 노원구</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <div class="flex-box">-->
<!--        <div class="sub-title">기 간</div><div th:text="${pay.classStartDate}+' ~ '+${pay.classEndDate}">2023.01.08 ~ 2023.01.12</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  </th:block>-->
  <th:block th:each = "pay : ${payList}">
    <a th:href="@{/class/detail(classNumber=${pay.classNumber})}" class="name-a">
  <div class="payment-content">
    <div class="sub-content">
      <div class="kko-box">
        <th:block th:if="${payStat.index < imgList.size} ">
          <img th:src="${imgList.get(payStat.index)}" alt="">
        </th:block>
        <th:block th:unless="${payStat.index < imgList.size} ">
          <img src="/image/kko.png" alt="">
        </th:block>
        <span class="name-span" th:text="${pay.userName}+' 멘토'">이종민 멘토</span></div>
      <div class="content-box">
        <div><span class="sub-title">학 력 : </span><span th:text="${pay.applyEducation}">서울대학교 졸업</span></div>
        <div><span class="sub-title">금 액 : </span><span th:text="${pay.classPrice}+' 원'">200000원</span></div>
        <div><span class="sub-title">지 역 : </span><span th:text="${pay.classAddress}">서울시 노원구</span></div>
        <div><span class="sub-title">개 강 : </span><span th:text="${pay.classStartDate}">2023.01.08</span></div>
        <div><span class="sub-title">종 강 : </span><span th:text="${pay.classEndDate}">2023.01.12</span></div>
      </div>
    </div>
    <div class="detail-box">보러 가기</div>
  </div>
    </a>
  </th:block>
</div>
<!-- 페이징 처리 -->
<div class="page-container">
  <ul class="page-ul">
    <a th:href="@{/user/paymentBoard(page=${pageInfo.startPage-1})}" th:if="${pageInfo.prev}">
      <li class="page-btn">&lt</li>
    </a>
    <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
      <a th:href="@{/user/paymentBoard(page=${i})}">
        <li class="page-btn" th:text="${i}" th:if="${i != pageInfo.paymentCriteria.page}"></li>
        <li class="page-btn active" th:text="${i}" th:unless="${i != pageInfo.paymentCriteria.page}"></li>
      </a>
    </th:block>
    <a th:href="@{/user/paymentBoard(page=${pageInfo.endPage+1})}" class="page-a" th:if="${pageInfo.next}">
      <li class="page-btn">&gt</li>
    </a>
  </ul>
</div>
<!-- /페이징 처리 -->
<script src="https://kit.fontawesome.com/acf4f592bf.js" crossorigin="anonymous"></script>
</body>
</html>