<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
  <header class="header" th:fragment="header">
    <a href="/index/main" class="logo-a">
      <div class="logo-box">
        <img src="/image/mainLogo.png" alt="" class="header-logo">
        <span class="span-logo">ongU</span>
      </div>
    </a>
    <div class="search-box">
      <form action="/search/study" method="get" class="search-form" name="searching">
        <select id="search" class="select-option" onchange="changeOption()">
          <option id="search-study" name="search" value="study">스터디 모집</option>
          <option id="search-class" name="search" value="class">멘티 모집</option>
        </select>
        <input type="text" name="searchValue" class="search-input" placeholder="제목을 검색해주세요.">
        <button class="search-btn"><i class="fa-solid fa-magnifying-glass fa-xl" style="color: #000000;"></i></button>
      </form>
    </div>
    <div class="nav-box">
      <nav class="header-nav">
        <a href="/study/list"><li>스터디 모집</li></a>
        <a href="/class/list"><li>멘티 모집</li></a>
        <a th:if="${session.userLevel == '1'}" href="/apply/write"><li>멘토 신청</li></a>
        <a th:if = "${session.userNumber == null}" href="/user/login"><li>로그인</li></a>
        <th:block  th:unless= "${session.userNumber == null}">
          <a href="/note/receiveList"><li>쪽지함</li></a>
          <li class="drop-menu">
            <span class="menu" id="menu">내정보
              <i class="fa-solid fa-caret-down down" style="color: #000000;"></i>
              <i class="fa-solid fa-caret-up up" style="color: #000000; display: none"></i>
            </span>
            <div class="menu-box" id="menu-box">
              <nav class="menu-nav">
                <ul>
                  <li class="menu-li"><a href="/user/myPage">내 프로필</a></li>
                  <li class="menu-li"><a href="/study/myWriteList">내 작성글</a></li>
                  <li class="menu-li"><a href="/like/list">내 관심글</a></li>
                  <li class="menu-li"><a href="/user/paymentBoard">결제 내역</a></li>
                </ul>
              </nav>
            </div>
          </li>
        <a href="/user/logout"><li>로그아웃</li></a>
        </th:block>
      </nav>
    </div>


    <script>
      // $('.menu').on('click', function () {
      //   var menuBox = $('.menu-box');
      //   if (menuBox.css('display') === 'block') {
      //     menuBox.animate({
      //       opacity: 0,
      //       height: 0
      //     }, 300, function () {
      //       menuBox.css('display', 'none');
      //       $('.up').css('display', 'none');
      //       $('.down').css('display', 'inline');
      //     });
      //   } else {
      //     menuBox.css({
      //       display: 'block',
      //       opacity: 0,
      //       height: 'auto'
      //     }).animate({
      //       opacity: 1,
      //       height: 'auto',
      //     }, 300, function (){
      //       $('.down').css('display', 'none');
      //       $('.up').css('display', 'inline');
      //     });
      //   }
      // });
      var menu = document.getElementById('menu');
      menu.addEventListener('click', function () {
        var menuBox = document.getElementById('menu-box');
        if (menuBox.style.display === 'block') {
          menuBox.style.display = 'none';
          document.querySelector('.up').style.display = 'none';
          document.querySelector('.down').style.display = 'inline';
        } else {
          menuBox.style.display = 'block';
          document.querySelector('.down').style.display = 'none';
          document.querySelector('.up').style.display = 'inline';
        }
      });

      // searching
      function changeOption() {
        var search = document.getElementById('search');
        var value = search.options[search.selectedIndex].value;
        var theForm = document.searching;

        if (value == 'study') {
          theForm.action = '/search/study';
        }
        if (value == 'class') {
          theForm.action = '/search/class';
        }
      }

    </script>
  </header>
<script src="https://kit.fontawesome.com/acf4f592bf.js" crossorigin="anonymous"></script>


</body>
</html>