.title{
    width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.date{
    width: 200px;
}
.show-btn{
    width: 40px;
    height: 25px;
    background-color:lightskyblue;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.main-container{
    position: relative;
}



/* 모달 열릴 때의 상태 */
.form-note.active {
    display: block;
    opacity: 1;
}

.form-note {
    width: 1000px;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: none; /* 초기에는 숨겨진 상태 */
    opacity: 0; /* 초기에는 투명도 0 */
    z-index: 1;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.form-group{
    margin-bottom: 15px;
}

#recipient{
    width: 950px;
    height: 30px;
    margin-left: 15px;
    padding-left: 10px;
    padding-top: 7px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}
#msg-content{
    width: 950px;
    height: 430px;
    margin-left: 15px;
    padding:5px 0 0 10px;
    resize: none;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

.note-text{
    width: 995px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
}

.close-x{
    float : right;
    color: gray;
    font-weight: bold;
    cursor: pointer;
}
.close-x:hover{
    background-color: lightsteelblue;
}

.note-img{
    width: 30px;
    margin-right: 5px;
}