
.content-box{
    width: 900px;
    margin: 0 auto;
}
.education{
    border: 1px solid lightgray;
    width: 900px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-left: 5px;
    border-radius: 5px;

}
.career{
    border: 1px solid lightgray;
    width: 900px;
    min-height: 150px;
    margin: 10px 0;
    padding: 5px 0 0 5px;
    border-radius: 5px;
}
.certi{
    border: 1px solid lightgray;
    width: 900px;
    min-height: 90px;
    margin: 10px 0;
    padding: 5px 0 0 5px;

    border-radius: 5px;
}
.file-box{
    width: 900px;
    height: 200px;
    display: flex;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
/*.file{*/
/*    width: 220px;*/
/*    height: 200px;*/
/*    overflow: hidden;*/
/*}*/
/*.file > img{*/
/*    object-fit:cover;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/


.btn-box{
    margin-top: 20px;
    display: flex;
    float: right;
}

.back-btn{
    width: 80px;
    height: 30px;
    background-color:lightcyan;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.approval-btn{
    width: 80px;
    height: 30px;
    background-color:lightskyblue;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}
.refusal-btn{
    width: 80px;
    height: 30px;
    background-color:lightcoral;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}
.approval-detail-btn{
    width: 80px;
    height: 30px;
    background-color:lightskyblue;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}
.refusal-detail-btn{
    width: 80px;
    height: 30px;
    background-color:lightcoral;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}
/*========================*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 15%;
    top: 70px;
    width: 85%;
    height: 850px;
    background-color: rgba(0,0,0,0.7);
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}