*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    align-items: center;
}
.logo-box{
    display: flex;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
}
.logo-a{
    text-decoration: none;
}
.header-logo{
    width: 50px;
    height: 50px;
}
.span-logo{
    font-size: 50px;
    font-weight: bold;
    color: #00A8F3;
}
.search-box{
    border: 1px solid black;
    height: 39px;
    display: flex;
    width: 725px;
    border-radius: 15px;
    justify-content: center;
}
.search-form{
    height: 38px;
}
.select-option{
    width: 150px;
    height: 100%;
    font-size: 18px;
    text-align: center;
    border: none;
    border-right: 1px solid black !important;
    outline: none;
}
.search-input{
    height: 35px;
    width: 500px;
    border: none;
    outline: none;
    font-size: 18px;
}
.search-btn{
    height: 35px;
    width: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.nav-box{
    margin-right: 70px;
}

.header-nav{
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.header-nav > a{
    text-decoration: none;
    color: black;
}
.drop-menu{
    margin: 0 20px;

}
.menu:hover{
    color: #00A8F3;
    cursor: pointer;
}
.menu-box{
    position: absolute;
    margin-top: 10px;
    background: white;
    border-top: 2px solid lightgrey;
    z-index: 1;
    width: 80px;
    display: none;
}
.menu-nav{
    line-height: 35px;
    font-size: 18px;
}
.menu-nav>ul{
    list-style: none;
}
.menu-li>a:hover{
    color: #00A8F3;
}

.header-nav>a{
    margin: 0 20px;
    cursor: pointer;
}
.menu-li>a{
    text-decoration: none;
    color: black;
}

.header-nav>a:hover{
    color: #00A8F3;
}

/*로그인 모달*/

*{
    margin:0; padding:0; box-sizing:border-box;

}

.login-form{
    position:relative; z-index:2;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

.int-area:first-child{
    margin-top:20px;
}
.int-area{
    width:400px;
    position:relative;
    margin-top:15px;
}
.int-area input{
    width:90%;
    padding:15px 10px 10px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: black;
    outline:none;
}
.int-area label{
    position:absolute; left:10px; top:15px;
    font-size:18px;  color:#999;
    transition: top .5s ease;
}
.int-area label.warning{
    color: red !important;
    animation:warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning{
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(-8px);}
}

.int-area input:focus+label,
.int-area input:valid + label{
    top:-2px;
    font-size:13px; color:#166cea;
}
.btn-area{
    margin-top:30px;
    text-align: center;
}
.btn-area button{
    width:80%; height:50px;
    background:#166cea;
    color:#fff;
    font-size:20px;
    border:none;

    cursor:pointer;
}


.caption{
    margin-top:20px;
    text-align:center;
}
.caption a{
    font-size:15px; color:#999;
    text-decoration: none;
}



.modal-container{
    background-color:rgba(0,0,0,.3);
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    z-index:1;
    transition: opacity 0.3s;
    opacity: 0;

}
.modal-container.fade-in{
    opacity: 1;
}

.modal-window{
    width:100%;
    max-width:450px;
    border-radius:10px;
    overflow:hidden;
    background-color:#ffffff;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
    margin-top: 10%;
    margin-left: 35%;

}
.loginTitleModal{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.int-areaDiv{
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;

}
.logoimg{
    width: 100px;
    height: 100px;
    background-image: url("../../image/mainLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 20px;
}

