*{
    margin:0;
    padding:0;
}
.container{
    width:100%;
    height:1700px;
    overflow:hidden;

}
.header-container{

    height:90px;
    padding:0px;

    left:25%;
    background-color: white;
    display: flex;
    align-items: center;
}
.nav-bar{
    width:65%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    width:70px;
    margin-left:20px;
    margin-top:5px;

}
ul{
    list-style-type: none;
}
.nav-right > ul{

    display: flex;
    margin-left:250px;

}
a{
    text-decoration: none;
    color:black;
}

.search-bar{
    width: 300px;
    height: 10px;
    border-radius: 20px;
    border-style: none;
    background-color: rgba(224, 220, 220,0.7);
    position:relative;
    right:80px;
    padding:10px;
}
.nav-left{
    margin-right:40%;
}
.nav-left-login{
    margin-right:34%;
}
.nav-left-login-mentor{
    margin-right:24%;
}

.nav-right > ul> li{
    margin:auto;
    width:130px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-text{
    font-size:18px;
    font-weight: bolder;
}
.none{
    display: none;
}

.section-banner{
    width:100%;
    height:300px;

}
.banner1{
    width:100%;
    height:300px;

}

.slides {
    display: flex;
    width: calc(1900px * 3); /* 3개의 이미지 */
    transition: transform 0.5s;
}

.banner {
    width: 1900px;
    height: 380px;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -22px; /* Adjust based on the height of the arrow icons */
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    top:270px;
    border: none;
    background-color: rgba(0,0,0,0.4); /* Semi-transparent black background */
    transition: background-color 0.6s;
    border-radius: 0 3px 3px 0; /* Rounded corners on the right side */
    user-select: none;
}

.next {
    right: 5px;
    border-radius: 3px 0 0 3px; /* Rounded corners on the left side */
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.board-container{
    margin-top:170px;

}
.board-box{
    width:70%;
    height:1200px;
    margin:auto;
}
.good-board-container{
    width:1270px;
    height:400px;
}
.good-board{
    width:250px;
    height:260px;
    border-radius: 20px;
    margin-top:30px;
    padding:13px;
    border: 2px solid rgb(186, 185, 185);
    overflow: hidden; /*이거 속성 어캐주는지 물어보깅*/
}

.good-board:hover{
    width:250px;
    height:260px;
    border-radius: 20px;
    margin-top:30px;
    padding:13px;
    box-shadow: 5px 5px 5px 5px rgb(172, 170, 170);
}

.good-board-container > ul{
    display: flex;
}
.good-board-container > ul > li{
    margin:auto;
}

.section-title{
    margin-left:20px;
}
.good-board > *{
    margin-top:4px;
}
.category-img-box{
    width:100%;
    height:30px;
    margin-top:12px;
}

.deadline{
    color:gray;
    font-size: smaller;
    font-weight:bold;
}
.deadline-box{
    border-bottom: 1px solid rgb(180, 177, 177);
    padding-bottom: 5px;
    margin-top:7px;
}

.study-content-box{ /*study-content-box*/
    width:100%;
    height:80px;
    font-size: 18px;
    font-weight:bold;
    margin-top:10px;
    display:flex;
    align-items: start;

}
.category{
    color:rgb(110, 110, 238);
    font-size:smaller;
    font-weight: bold;
}

.address{
    font-size:smaller;
    font-weight:bold;
}
.address-box{
    border-bottom: 1px solid  rgb(180, 177, 177);
    padding-bottom: 8px;
}

.user-box{
    width:100%;
    height:40px;
    display: flex;
    align-items: center;
}
.user-nickname{
    font-size: larger;
    font-weight: bold;
    margin-right:90px;
    margin-left:7px;

}
.read-count{
    margin-right:20px;
    font-weight: bold;
    color:gray;
}
.commend-count{
    margin-right:20px;
    font-weight: bold;
    color:gray;
}
.footer{
    width:100%;
    height:200px;
    background-color: rgba(207, 204, 204, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-logo{
    width:200px;
}
.right-box{
    width:700px;
    margin:auto;
}

.footer-container{
    width:50%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.footer-box2{
    margin-top:40px;
}
.footer-box2 > ul{
    display:flex;

}
.footer-box2 > ul > li{
    margin-left:20px;
    font-size:20px;
    font-weight: bold;

}
.footer-info{
    font-size:15px;
    color:gray;
    font-weight: bold;
}
.mento-box{
    width: 360px;
    background-color: rgba(247, 238, 225,0.8);
    height:190px;
    margin-top:20px;
    border-radius: 13px;
    padding:20px;
    box-shadow: 5px 5px 5px 5px gray;
}

.mento-name-container{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.mento-apply{
    width:100px;
    background-color: rgb(226, 226, 28);
    height:35px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 17px;
    font-weight:bold;
}

.mento-info{
    color:rgb(188, 185, 185);
    font-weight: bold;
    margin-right:5px;
}
.mento-info-list > li{
    margin-top:5px;
}

.mento-price{
    font-weight:bold;
}


