.page-container{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 0 auto;
}
.page-ul{
    list-style: none;
}
.page-ul > a{
    color: black;
}
.page-btn{
    float: left;
    margin: 0 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 20px;
    text-align: center;
}
.active{
    background: lightsteelblue;
}