
*{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    height:100%;
    background-color: antiquewhite;
    display: flex;
    margin-top: 20px;
}
p{
    margin-top: 10px;
    font-weight: bold;
}
.full-box{
    width: 900px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}
.form-full{
    margin-left: 100px;
    margin-top: 50px;
}
.ment{
    margin-bottom: 50px;
}
.ed-letter, .ed-ca-letter, .ed-certi-letter, .ed-file-letter{
    margin-bottom: 5px;
}
.education,.career,.Certificate,.Certificate-file {
    font-size: 20px;
    font-weight: bold;
}
.memo{
    color: red;
}
.edu{
    height: 30px;
}
option{
    text-align: center;
}
.file-small-div{
    height: 50px;
    width: 600px;
    border: 1px solid gray;
}
.file-small-div label{
    display: inline-block;
    padding: .5em .75em;
    background-color: #fdfdfd;
    color: black;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: .25em;
    margin-top: 5px;
}

#input_file{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);

}

.btn-div{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
button{
    border-radius: 10px;
    width: 200px;
    height: 50px;

}
.btn1{
    margin-right: 10px;
    background-color: #166cea;
    color: white;
}
.btn2{

    background-color: red;
    color: white;
}

input[type='file'] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-wrap {
    width: 600px;
    margin: 0 auto;
}

.file-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:190px;
}

.file-wrap > li {
    list-style-type: none;
    width: 90px;
    height: 90px;
    margin: 0.5rem;
    border: 0.0625rem dashed #e1e1e1;
    border-radius: 8px;
    cursor: pointer;
}

.file-wrap > li:first-child {
    position: relative;
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDM2djM2SDB6Ii8+PGcgc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2Utd2lkdGg9IjEuNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNCA0KSI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBkPSJNMTQgN3YxNG03LTdINyIvPjxjaXJjbGUgY3g9IjE0IiBjeT0iMTQiIHI9IjE0Ii8+PC9nPjwvZz48L3N2Zz4=)
    no-repeat 50%;
}

.img-list {
    cursor: default;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBzdHJva2U9IiNCNUI1QjUiIHN0cm9rZS13aWR0aD0iMS41IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0IDQpIj48cmVjdCB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHJ4PSIzLjUiLz48Y2lyY2xlIGN4PSI4LjU1NiIgY3k9IjguNTU2IiByPSIyLjMzMyIvPjxwYXRoIGQ9Ik0yOCAxOC42NjdsLTcuNzc3LTcuNzc4TDMuMTExIDI4Ii8+PC9nPjxwYXRoIGQ9Ik0wIDBoMzZ2MzZIMHoiLz48L2c+PC9zdmc+)
    no-repeat 50% #f2f2f2;
    position: relative;
}

input[type='file'] {
    cursor: pointer;
}