*{
    margin: 0;
    padding: 0;
}
p{
margin-top: 10px;
font-weight: bold;
}
body{
    width:100%;
    height:100%;
    background-color: antiquewhite;
    display: flex;
    margin-top: 20px;
}
.full-box{
   
    width: 900px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
   
  
}
.form-full{
    margin-left: 100px;
    margin-top: 50px;
}
.plan{
    margin-bottom: 50px;
}

.edu-plan,.class-schedule,.memtor-introduction, .class-howto,.class-howto2, .class-loction, .class-price ,.edu-title{
    font-size: 20px;
    font-weight: bold;
}
.edu-plan-div{
    margin-top: 30px;
}
.memo{
    color: red;
    font-weight: bold;
}
.edu{
    height: 30px;
}

.plan_data{
    display: flex;
    font-weight: bold;
}
.plan_data_div1{
    margin-right: 40px;
    text-align: center;
}
.plan_data_div2{
    text-align: center;
}

input[type='text']{
    border-radius: 5px;
    text-align: center;
   
    height: 50px; 
    width: 280px;
}

input[type='date']{
    text-align: center;
    color: gray;
    border-radius: 5px;
    height: 50px; 
    width: 280px;
}
select{
    height: 50px; 
    width: 280px;
    text-align: center;
}

.btn-div{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
button{
    border-radius: 10px;
    width: 200px;
    height: 50px;
   
}
.btn1{
    margin-right: 10px;
    background-color: #166cea;
    color: white;
}
.btn2{
   
    background-color: red;
    color: white;
}
.planFrom-div,.plan_data,.aboutMentor-div,.location-second, .price-second, .howto-second,.howto-second2 , .edu-title-div{
    margin-top: 5px;
}
.howTo1, .location1{
   
    margin-right: 40px;
}

.howtoFulldiv, .locationfulldiv{
    display: flex;
}
