*:not(:where([class~="header"] *)){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

header{
    position: relative;
    z-index: 100;
}

.note-wrap{
    position: relative;
    width: 100vw;
    min-width: 800px;
}

/* 쪽지 헤더 */
.note-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: #00A8F3;
    color: white;
    border-bottom: 1px solid gray;
    padding: 15px;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

/* 로고 */
.note-main-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gongu-main{
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    color: white;
}

.note-main{
    font-size: 20px;
    color: white;
}
.logout{
    font-size: 15px;
}

.note-body{
    height: 100vh;
    width: 100vw;
    margin-top: -80px;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
}

/* 메뉴 상자 */
.menu-container{
    width: 180px;
    height: 100%;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-note-write{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 170px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #00A8F3;
    background-color: #00A8F3;
    color: white;
}

.receive, .send{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: gainsboro;
    border-top: 1px solid gray;
}
.send{
    border-bottom: 1px solid gray;
    font-weight: bold;
}
.receive{
    background-color: white;
}
.a-receive, .a-send{
    font-size: 20px;
}

/* 쪽지 내용 상자 */
.note-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.note-send{
    font-size: 20px;
    font-weight: bold;
    margin-top: 38px;
    margin-bottom: 15px;
    margin-left: 50px;
}

.note-table{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    padding: 0 50px;
}
.th{
    background-color: gainsboro;
    border-top: 1px solid gray;
    width: 100%;
}
.th, .tr{
    display: flex;
    flex-direction: row;
    border-left: 1px solid gray;
    min-width: 850px;
}
.tr{
    background-color: ghostwhite;
}
.td{
    font-size: 20px;
    padding: 5px 10px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.note-user{
    height: 40px;
    min-width: 170px;
    width: 0%;
}

.note-title{
    height: 40px;
    min-width: 420px;
    width: 100%;
}

.note-date{
    height: 40px;
    min-width: 120px;
    width: 0%;
}

.note-content, .note-delete{
    height: 40px;
    min-width: 70px;
    width: 0%;
    padding-left: 9px;
    display: flex;
    justify-content: center;
}

.btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: blue;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.btn-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.del{
    height: 40px;
    min-width: 70px;
    width: 0%;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.note-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 페이징 버튼 */
.page-a {
    text-decoration: none;
    color: #00A8F3;
}

.page-box {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-num {
    border: 1px solid #00A8F3;
    width: 30px;
    height: 40px;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    cursor: pointer;
}

.active,
.page-num:hover {
    background-color: #00A8F3;
    color: white;
}