<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mentor/mentorStudyPlan.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 서머노트를 위해 추가해야할 부분 -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="https://kit.fontawesome.com/acf4f592bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <form action="/class/writeOk" method="post">
        <div class="section-1">
            <ul class="item-ul">
                <li>
                    <select id="classMajor" name="classMajor">
                        <option value="">과목을 선택해주세요</option>
                        <optgroup label="수학">
                            <option value="산술학">산술학</option>
                            <option value="대수학">대수학</option>
                            <option value="기하학">기하학</option>
                            <option value="위상수학">위상수학</option>
                            <option value="해석학">해석학</option>
                        </optgroup>
                        <optgroup label="과학">
                            <option value="생명과학">생명과학</option>
                            <option value="기초과학">기초과학</option>
                            <option value="자연과학">자연과학</option>
                            <option value="과학기술">과학기술</option>
                        </optgroup>
                        <optgroup label="국어">
                            <option value="국어학">국어학</option>
                            <option value="고전문학">고전문학</option>
                            <option value="현대문학">현대문학</option>
                            <option value="국어국문">국어국문</option>
                        </optgroup>
                        <optgroup label="언어">
                            <option value="영어">영어</option>
                            <option value="중국어">중국어</option>
                            <option value="프랑스어">프랑스어</option>
                            <option value="일본어">일본어</option>
                            <option value="독일어">독일어</option>
                        </optgroup>
                        <optgroup label="기타">
                            <option value="etc">기타</option>
                        </optgroup>
                    </select>
                </li>
                <li>
                    <select class="classProcess" name="classProcess">
                        <option value="">수업방식을 선택해주세요</option>
                        <option value="온라인">온라인</option>
                        <option value="오프라인">오프라인</option>
                    </select>
                </li>
                <li>
                    <input type="date" name="classStartDate" class="start-date" data-placeholder="수업 시작 날짜">
                </li>
                <li>
                    <input type="date" name="classEndDate" class="end-date" data-placeholder="스터디 종료 날짜">
                </li>




            </ul>
        </div>
        <div class="section-1">
            <ul class="item-ul-2">
                <li>
                    <input type="text" name="classAddress" placeholder="수업을 진행할 지역을 입력해주세요">
                </li>
                <li>
                    <input type="text" name="classPrice"  placeholder="가격을 입력해주세요">
                </li>
            </ul>
        </div>
        <div class="section-3">
            <div class="study-title">
                <input type="text" name="classTitle" placeholder="제목을 입력해주세요">
            </div>
            <textarea class="summernote" id="summernote2" name="classIntroduce"></textarea>
        </div>
        <div class="class-plan-box">
            <textarea class="summernote" id="summernote" name="classPlan"></textarea>
        </div>
        <div class="button-div">
            <button type="reset" class="rest-btn" name="cancelBtn">취소</button>
            <button type="submit" class="registerBtn" name="registerBtn" >글등록</button>
        </div>
    </form>
</div>
</body>
<script>
    $('#summernote').summernote({
        placeholder: '수업 내용을 작성해주세요!',
        tabsize: 2,
        height: 400,
        disableResizeEditor: true,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['view', ['help']]
        ]
    });

    $('#summernote2').summernote({
        placeholder: '멘토님의 정보를 입력해주세요!',
        tabsize: 2,
        height: 400,
        disableResizeEditor: true,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['view', ['help']]
        ]
    });
</script>
</html>