<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mentor/mentorStudyPlan.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 서머노트를 위해 추가해야할 부분 -->
    <script src="/summerNote/summernote-lite.js"></script>
    <script src="/summerNote/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="/summerNote/summernote-lite.css">
</head>
<body>
    <div class="full-box"><!--전체 총 박스-->
        
        <div class="form-full">
            <div class="plan">
                <h1>수업계획서</h1>
                <p>나의 수업계획을 공유해주세요!</p>
            </div>

            <form action="/class/writeOk" method="post"> <!--백단은 위한 폼 부분-->
            <div>
                <div>
                    <span class="edu-title">글 제목</span>
                </div>
                <div class="edu-title-div">
                    <input type="text" name="classTitle" placeholder="제목을 입력해주세요">
                </div>
            </div>


     
            <div class="edu-plan-div"><!--수업계획 부분시작 -->
                <span class="edu-plan">수업계획</span> 
                <div class="planFrom-div">
                    <div class="container" style="width: 850px;">   <!--editordata-->
                        <textarea class="summernote" name="classPlan"></textarea>
                    </div>
                </div>
            </div><!--수업계획 부분 끝 -->
            <br><br>

            <div class="class-schedule-div"><!--수업일정을 위한 부분 시작 날짜 선택 폼 있음-->
                <span class="class-schedule">수업 일정</span> 
                <div class="plan_data">
                    <div class="plan_data_div1">
                        <!--수업시작일 input-->
                        <input type="date" name="classStartDate">
                        <br>
                        시작일
                    </div>
                    <div class="plan_data_div2">
                        <!--수업종료일 input-->
                        <input type="date" name="classEndDate">
                        <br>
                        종료일
                    </div>
                </div>
            </div><!--수업일정을 위한 부분 끝-->
            <br><br>


            <!--변경해야하는 부분-->
            <div class="howtoFulldiv">
                <div class="howTo1">
                    <div>
                        <span class="class-howto">진행 방식</span>
                    </div>
                    <div>
                        <select class="classProcess" name="classProcess">
                            <option value="온라인">온라인</option>
                            <option value="오프라인">오프라인</option>
                        </select>
                    </div>
                    </div>
                        <div class="howTo2">
                            <div>
                                <span class="class-howto2">수업 구분</span>
                            </div>
                            <div class="howto-second2">
                                <select id="classMajor" name="classMajor">
                                    <option value="">-- 선택하세요 --</option>
                                    <optgroup label="수학">
                                      <option value="산술학">산술학</option>
                                      <option value="대수학">대수학</option>
                                      <option value="기하학">기하학</option>
                                      <option value="위상수학">위상수학</option>
                                      <option value="해석학">해석학</option>
                                    </optgroup>
                                    <optgroup label="과학">
                                      <option value="생명과학">생명과학</option>
                                      <option value="기초과학">기초과학</option>
                                      <option value="자연과학">자연과학</option>
                                      <option value="과학기술">과학기술</option>
                                    </optgroup>
                                    <optgroup label="국어">
                                      <option value="국어학">국어학</option>
                                      <option value="고전문학">고전문학</option>
                                      <option value="현대문학">현대문학</option>
                                      <option value="국어국문">국어국문</option>
                                    </optgroup>
                                    <optgroup label="언어">
                                      <option value="영어">영어</option>
                                      <option value="중국어">중국어</option>
                                      <option value="프랑스어">프랑스어</option>
                                      <option value="일본어">일본어</option>
                                      <option value="독일어">독일어</option>
                                    </optgroup> 
                                    <optgroup label="기타">
                                        <option value="etc">기타</option>
                                    </optgroup>   
                                </select>

                            </div>
                        <div>
                    </div>
                </div>
            </div>  <!--변경해야하는 부분-->
            <br><br>

  


               <!--지역&가격 부분-->
               <div class="locationfulldiv">
                <div class="location1">
                    <div>
                        <span class="class-loction">지역</span>
                    </div>
                    <div>
                        <div class="location-second">
                            <input type="text" name="classAddress"  placeholder="지역을 입력해주세요">
                        </div>
                    </div>
                    </div>
                        <div class="pricediv">
                            <div>
                                <span class="class-price">가격</span>
                            </div>
                            <div class="price-second">
                                <input type="text" name="classPrice"  placeholder="가격을 입력해주세요">
                            </div>
                        <div>
                    </div>
                </div>
            </div> <!--지역&가격 부분-->
            <br><br>







            <!--멘토 소개부분 시작-->
            <div class="introduction-div">
                <span class="memtor-introduction">멘토 소개</span>
                <div class="aboutMentor-div">
                    <!--멘소 소개 input-->
                    <div class="container" style="width: 850px;">   <!--editordata-->
                        <textarea class="summernote" name="classIntroduce"></textarea>
                    </div>
                </div>
            </div><!--멘토 소개부분 끝-->
            <br>
            <span class="memo">※신청한 계획서는 관리자 승인 후 게시가 됩니다</span>
           

            <div class="btn-div">
                <button class="btn1" type="submit">신청 하기</button>
                <button class="btn2" type="reset">신청 취소</button>
            </div>

        </form>
        </div>
    </div>
</body>
<script>
    $('.summernote').summernote({
        height: 450,
        lang: "ko-KR"
    });
</script>
</html>