<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/mentor/mentiDetail.css">
  <link rel="stylesheet" href="/css/study/studyReply.css">
  <script src="https://kit.fontawesome.com/acf4f592bf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/header.css">
  <style>
    .btn-container{
      width:850px;
      display: flex;
      justify-content: end;
      align-content: center;
      margin-top:20px;
    }
    .update-btn{
      width:100px;
      height:30px;
      background-color: #00A8F3;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      border-radius: 20px;
      margin-right:20px;
    }
    .delete-btn{
      width:100px;
      height:30px;
      background-color: lightcoral;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      border-radius: 20px;
    }
    a{
      text-decoration: none;
      color:white;
    }
  </style>

</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="fulldiv">
<!--  <img class="goback" src="https://www.holaworld.io/images/info/arrowLeft.png" alt="뒤로가기사진">-->
  <div class="studyTitle">
    <h1 name="studyTitle" th:text="${class.classTitle}">최욱진 멘토와 함께 갈 학생 모집합니다</h1><!--스터디 구분들어갈 자리-->
  </div>
  <div class="userAndUpload">
    <div class="logoimg">
      <img src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="30px">
    </div>
    <div class="log-container">
    <span class="writerUser" name="userId" th:text="${class.userNickname+' | '}"><!--스터디 모집 작성자-->
      <!--작성자앞에 로고 사진-->이종민&nbsp;|</span>
      <span name="registerDate" class="registerDate" th:text="${class.classRegisterDate}">2023.10.11</span><!--스터디모집글등록날짜-->
    </div>
    <div class="updelte" th:if="${class.userNumber == session.userNumber}">
      <a  th:href="@{/class/update(classNumber=${class.classNumber})}"><div class="update-btn">수정</div></a>
      <a  th:href="@{/class/delete(classNumber=${class.classNumber})}"><div class="delete-btn">삭제</div></a>
      </th:block>
    </div>
  </div>


  <div class="secdiv"><!--두번째 박스 진행방식, 시작예정등등 담아있는 박스 -->
    <div class="left-container">
      <div class="sub">
        <div class="sub-title sone">학 력</div>
        <div class="sub-content" th:text="${class.applyEducation}">서울대학교 졸업</div>
      </div>
      <div class="sub">
        <div class="sub-title sone">금 액</div>
        <div class="sub-content"th:text="${class.classPrice}+'원'">20000원</div>
      </div>
      <div class="sub">
        <div class="sub-title sone">지 역</div>
        <div class="sub-content" th:text="${class.classAddress}">서울시 노원구</div>
      </div>
    </div>
    <div class="right-container">
      <div class="sub">
        <div class="sub-title">수업 일정</div>
        <div class="sub-content" th:text="${class.classStartDate+' ~ '+class.classEndDate}">2023.10.11 ~ 2023.10.28</div>
      </div>
      <div class="sub">
        <div class="sub-title">수업 구분</div>
        <div class="sub-content" th:text="${class.classMajor}">고전 문학</div>
      </div>
      <div class="sub">
        <div class="sub-title">진행 방식</div>
        <div class="sub-content" th:text="${class.classProcess}">온라인</div>
      </div>
    </div>
  </div><!--두번째 박스 끝나는 지점-->

    <div class="thHoleDiv"><!--세번쨰 박스 스터디 소개부분 시작-->
      <div class="ourStudtTitle">
        <h2>강사 소개</h2>
      </div>
      <div>
        <div class="ourStudtIs" th:utext="${class.classIntroduce}">  <!--pre태그로 변경예정-->
        </div>
        <div class="ourStudtTitle">
          <h2>수업 커리큘럼</h2>
        </div>
        <div>
          <div class="ourStudtIs" th:utext="${class.classPlan}"> <!--pre태그로 변경예정-->
          </div>
        </div>

      </div><!--세번쨰 박스 스터디 소개부분 끝 -->

      <div class="btn-container">
        <button th:if="${class.classLevel == '2'}" class="payment">
          결제
        </button>
        <button th:if="${class.classLevel == '3'}" class="payment-end" type="button">
          결제완료
        </button>
      </div>

    <!--댓글 상자 -->
    <div class="reply-wrap">
      <div class="reply-wrap__box">
        <div class="reply-content__box">
          <div class="reply-writer"></div>
          <textarea name="replyContent" id="reply-content" cols="30" rows="10"></textarea>
        </div>
        <div class="reply-btn-wrap">
          <button type="button" class="btn-reply">작성 완료</button>
        </div>
      </div>

      <!-- 댓글 리스트 -->
      <div class="reply-list-wrap">
        <!-- 리플 예시 -->

        <!-- /리플 예시 -->
      </div>
    </div>
  </div> <!--fulldiv 끝나는 지점 길이100%-->


</div>
<input type="hidden" th:value="${class.classNumber}" class="class-num" name="classNumber"/>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<script th:inline="javascript"> // 타임리프 문법을 자바스크립트에서 사용하기 위한 설정
let loginNumber = [[${session.userNumber}]]; // 타임리프 문법은 [] 2개로 감싸줘야 한다.

</script>

<script type="module" src="/js/study/classReply.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
  $(".payment").click(function () {
    var IMP = window.IMP; // 생략가능
    IMP.init('imp22267731');
    // i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
    // ''안에 띄어쓰기 없이 가맹점 식별코드를 붙여넣어주세요. 안그러면 결제창이 안뜹니다.
    IMP.request_pay({
      pg: 'kakaopay.TC0ONETIME',
      pay_method: 'card',
      merchant_uid: 'merchant_' + new Date().getTime(),
      /*
       *  merchant_uid에 경우
       *  https://docs.iamport.kr/implementation/payment
       *  위에 url에 따라가시면 넣을 수 있는 방법이 있습니다.
       */

      name: '멘토명 : [[${class.userName}]]',
      // 결제창에서 보여질 이름
      // name: '주문명 : ${auction.a_title}',
      // 위와같이 model에 담은 정보를 넣어 쓸수도 있습니다.
      amount:[[${class.classPrice}]],
      paid_amount: [[${class.classPrice}]],
      // amount: ${bid.b_bid},
      // 가격
      buyer_name: '[[${class.classNumber}]]',
      // 구매자 이름, 구매자 정보도 model값으로 바꿀 수 있습니다.
      // 구매자 정보에 여러가지도 있으므로, 자세한 내용은 맨 위 링크를 참고해주세요.
      buyer_postcode: '123-456',
    }, function (rsp) {
      console.log(rsp);
      if (rsp.success) {
        var msg = '결제가 완료되었습니다.';
        msg += '결제 금액 : ' + rsp.paid_amount + '원';
        // success.submit();
        // 결제 성공 시 정보를 넘겨줘야한다면 body에 form을 만든 뒤 위의 코드를 사용하는 방법이 있습니다.
        // 자세한 설명은 구글링으로 보시는게 좋습니다.

        // 결제 정보를 서버에 전송
        $.ajax({
          type: "get",
          url: "/process-payment",
          data: {
            buyer_name: rsp.buyer_name, // 클래스넘버
            merchant_uid: rsp.merchant_uid,// 고유한 거래식별자
            paid_amount: rsp.paid_amount, //결제금액
          },
          success: function () {
            $.ajax({
              type:"get",
              url:"/user/modifyLevel",
              data:{
                buyer_name: rsp.buyer_name
              }
            })
            location.replace('/user/paymentBoard');
          },
          error: function () {
            alert('서버 요청 중 오류가 발생했습니다.');
          }
        });
      } else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;
      }
      alert(msg);
    });
  });
</script>
</body>

</html>