<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/mentor/mentiDetail.css">
  <link rel="stylesheet" href="/css/study/studyReply.css">
  <script src="https://kit.fontawesome.com/acf4f592bf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/header.css">
  <style>
    .btn-container{
      width:100%;
      display: flex;
      justify-content: end;
      margin-top:50px;
    }
    .update-btn{
      width:100px;
      height:30px;
      background-color: #00c7ae;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      border-radius: 20px;
      margin-right:20px;
    }
    .delete-btn{
      width:100px;
      height:30px;
      background-color: #00bfff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      border-radius: 20px;
    }
    a{
      text-decoration: none;
      color:white;
    }
  </style>

</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="fulldiv">
  <img class="goback" src="https://www.holaworld.io/images/info/arrowLeft.png" alt="뒤로가기사진">
  <div class="studyTitle">
    <h1 name="studyTitle" th:text="${class.classTitle}">최욱진 멘토와 함께 갈 학생 모집합니다</h1><!--스터디 구분들어갈 자리-->
  </div>
  <div class="userAndUpload">
            <span class="writerUser" name="userId" th:text="${class.userName}"><!--스터디 모집 작성자-->
              <!--작성자앞에 로고 사진-->
                <img class="logoimg" src="https://hola-post-image.s3.ap-northeast-2.amazonaws.com/default.PNG" width="30px" height="25px">작성자 |</span>
    <span name="registerDate"></span><!--스터디모집글등록날짜-->
  </div>


  <div class="secdiv"><!--두번째 박스 진행방식, 시작예정등등 담아있는 박스 -->
    <div class="tablediv1">
      <table>
        <tr>
          <td class="one" name="howToProceed">진행 방식</td>
          <td class="se" name="??" th:text="${class.classProcess}">온/오프라인</td>
          <!--
              온라인이면 value :online
              오프라인이면 value : offline
              이러게 처리했음(studyWrite.html참조)
           -->
        </tr>
        <tr>
          <td class="one" name="people">가격</td>
          <td class="se" name="??" th:text="${class.classPrice}">120,000</td>
          <!--
                 <option value="unsettled-person">인원 미정
                  <option value="one">1명
                  <option value="two">2명
                  <option value="three">3명
                  <option value="four">4명
                  <option value="five">5명
                  <option value="six">6명
                  <option value="seven">7명
                  <option value="eight">8명
                  <option value="nine">9명
                  <option value="overten">10명 이상

                  이러게 처리했음(studyWrite.html참조)
           -->
        </tr>

        <tr>
          <td class="one" >지역</td>
          <td class="se" name="location" th:text="${class.classAddress}">서울시 노원구</td>
        </tr>
      </table>
    </div>


    <div class="tablediv2">
      <table>
        <tr>
          <td class="one" name="">수업일정</td>
          <td class="se" name="" th:text="${class.classStartDate+' ~ '+class.classEndDate}"></td>
        </tr>

        <tr>
          <td class="one" name="">수업 구분</td>
          <td class="se" name="studyfor" th:text="${class.classMajor}">Java 프로그래밍 언어</td>
        </tr>
        <tr>
          <td class="one" name="">멘토 학력</td> <!--경력?-->
          <td class="se" name="studyfor" th:text="${class.applyEducation}">서울대학교 OO과</td>
        </tr>
      </table>
    </div>
  </div><!--두번째 박스 끝나는 지점-->

  <div class="thHoleDiv"><!--세번쨰 박스 스터디 소개부분 시작-->
    <div class="ourStudtTitle">
      <h2>강사 소개</h2>
    </div>
    <div>
      <div class="ourStudtIs" th:utext="${class.classIntroduce}">  <!--pre태그로 변경예정-->


      </div>

      <div class="ourStudtTitle">
        <h2>수업 커리큘럼</h2>
      </div>
      <div>
        <div class="ourStudtIs" th:utext="${class.classPlan}"> <!--pre태그로 변경예정-->

        </div>




        <div class="checkDiv"><!--조회수랑 하이? 담는 총 상자-->
          <div>
            <img src="https://www.holaworld.io/images/info/bookmark.svg" width="20px" height="18px">
            <span>0</span><!--찜하기인가?-->
          </div>
        </div>
      </div>

    </div><!--세번쨰 박스 스터디 소개부분 끝 -->

  <div class="btn-container">

      <button class="payment" id="check_module">
        결제
      </button>
    <th:block th:if="${class.userNumber == session.userNumber}">
      <a th:href="@{/class/update(classNumber=${class.classNumber})}"><div class="update-btn">수정</div></a>
      <a th:href="@{/class/delete(classNumber=${class.classNumber})}"><div class="delete-btn">삭제</div></a>
    </th:block>

  </div>

    <!--댓글 상자 -->
    <div class="reply-wrap">
      <div class="reply-wrap__box">
        <div class="reply-content__box">
          <div class="reply-writer" th:text="${class.userName}"></div>
          <textarea name="replyContent" id="reply-content" cols="30" rows="10"></textarea>
        </div>
        <div class="reply-btn-wrap">
          <button type="button" class="btn-reply">작성 완료</button>
        </div>
      </div>

      <!-- 댓글 리스트 -->
      <div class="reply-list-wrap">
        <!-- 리플 예시 -->

        <!-- /리플 예시 -->
      </div>
    </div>








  </div> <!--fulldiv 끝나는 지점 길이100%-->


</div>
<input type="hidden" th:value="${class.classNumber}" class="class-num"/>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>

<script th:inline="javascript"> // 타임리프 문법을 자바스크립트에서 사용하기 위한 설정
let loginNumber = [[${session.userNumber}]]; // 타임리프 문법은 [] 2개로 감싸줘야 한다.

</script>

<script type="module" src="/js/study/classReply.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
  $("#check_module").click(function () {
    var IMP = window.IMP; // 생략가능
    IMP.init('imp22267731');
    // i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
    // ''안에 띄어쓰기 없이 가맹점 식별코드를 붙여넣어주세요. 안그러면 결제창이 안뜹니다.
    IMP.request_pay({
      pg: 'kakaopay.TC0ONETIME',
      pay_method: 'card',
      merchant_uid: 'merchant_' + new Date().getTime(),
      /*
       *  merchant_uid에 경우
       *  https://docs.iamport.kr/implementation/payment
       *  위에 url에 따라가시면 넣을 수 있는 방법이 있습니다.
       */
      name: '주문명 : 아메리카노',
      // 결제창에서 보여질 이름
      // name: '주문명 : ${auction.a_title}',
      // 위와같이 model에 담은 정보를 넣어 쓸수도 있습니다.
      amount: 2000,
      // amount: ${bid.b_bid},
      // 가격
      buyer_name: '이름',
      // 구매자 이름, 구매자 정보도 model값으로 바꿀 수 있습니다.
      // 구매자 정보에 여러가지도 있으므로, 자세한 내용은 맨 위 링크를 참고해주세요.
      buyer_postcode: '123-456',
    }, function (rsp) {
      console.log(rsp);
      if (rsp.success) {
        var msg = '결제가 완료되었습니다.';
        msg += '결제 금액 : ' + rsp.paid_amount;
        // success.submit();
        // 결제 성공 시 정보를 넘겨줘야한다면 body에 form을 만든 뒤 위의 코드를 사용하는 방법이 있습니다.
        // 자세한 설명은 구글링으로 보시는게 좋습니다.
      } else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;
      }
      alert(msg);
    });
  });
</script>

</body>

</html>