<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gongu.mapper.ApplyMapper">
    <insert id="insert">
        <selectKey keyProperty="applyNumber" order="BEFORE" resultType="long">
            SELECT SEQ_APPLY_NUMBER.NEXTVAL FROM DUAL
        </selectKey>
        insert into TBL_MEMTO_APPLY (APPLY_NUMBER, APPLY_EDUCATION, APPLY_CAREER, APPLY_CERTI, USER_NUMBER)
        values (#{applyNumber}, #{applyEducation}, #{applyCareer},#{applyCerti}, #{userNumber})
    </insert>

</mapper>