<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gongu.mapper.FileMapper">
    <insert id="insert">
        insert into TBL_FILES (FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, APPLY_NUMBER)
        values (SEQ_FILE_NUMBER.NEXTVAL, #{fileName}, #{fileUploadPath}, #{fileUuid}, #{applyNumber})
    </insert>

    <delete id="delete">
        DELETE FROM TBL_FILES
        WHERE APPLY_NUMBER = #{applyNumber}
    </delete>

    <select id="selectList" resultType="fileDto">
        SELECT FILE_NUMBER, FILE_NAME, FILE_UPLOAD_PATH, FILE_UUID, APPLY_NUMBER
        FROM TBL_FILES
        WHERE APPLY_NUMBER = #{applyNumber}
    </select>
</mapper>