<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gongu.mapper.NoteMapper">
    <select id="selectSendNote" resultType="noteVo">
        select user_id, note_title, note_register_date, note_number
        from tbl_users join tbl_note
        on user_number = #{senderNumber}
        where note_level = '1'
        order by note_number desc
    </select>

    <select id="selectReceiveNote" resultType="noteVo"></select>

    <update id="updateNoteLevel"></update>
</mapper>