<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gongu.mapper.StudyMapper">
    <insert id="insert">
        insert into TBL_STUDY_BOARD (STUDY_NUMBER, STUDY_TITLE, STUDY_PROCESS, STUDY_START_DATE, STUDY_DATE,
                                     STUDY_STUDENT_COUNT, STUDY_MAJOR, STUDY_ADDRESS, STUDY_CONTENT, USER_NUMBER,STUDY_REGISTER_DATE,STUDY_UPDATE_DATE)
        values (SEQ_STUDY_NUMBER.nextval,#{studyTitle},#{studyProcess},#{studyStartDate},#{studyDate},#{studyStudentCount},#{studyMajor},#{studyAddress},#{studyContent},5,sysdate,sysdate)
    </insert>

    <select id="selectList" resultType="studyVo">
        SELECT RNUM,STUDY_NUMBER, STUDY_TITLE, STUDY_PROCESS, STUDY_START_DATE, STUDY_DATE,STUDY_STUDENT_COUNT, STUDY_MAJOR, STUDY_ADDRESS, STUDY_CONTENT, USER_NUMBER,STUDY_REGISTER_DATE,STUDY_UPDATE_DATE,USER_ID
        FROM (select ROWNUM AS RNUM,STUDY_NUMBER, STUDY_TITLE, STUDY_PROCESS, STUDY_START_DATE, STUDY_DATE,STUDY_STUDENT_COUNT, STUDY_MAJOR, STUDY_ADDRESS, STUDY_CONTENT, S.USER_NUMBER,STUDY_REGISTER_DATE,STUDY_UPDATE_DATE,U.USER_ID
              FROM TBL_STUDY_BOARD S JOIN TBL_USERS U
                                          ON S.USER_NUMBER = U.USER_NUMBER
        <![CDATA[WHERE ROWNUM <= #{page} * #{amount}]]>
             )
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <select id="select" resultType="studyVo">
        select STUDY_NUMBER, STUDY_TITLE, STUDY_PROCESS,STUDY_START_DATE,STUDY_DATE,STUDY_STUDENT_COUNT, STUDY_MAJOR, STUDY_ADDRESS, STUDY_CONTENT, S.USER_NUMBER,STUDY_REGISTER_DATE,STUDY_UPDATE_DATE,U.USER_ID
        FROM TBL_STUDY_BOARD S JOIN TBL_USERS U ON S.USER_NUMBER = U.USER_NUMBER
        WHERE STUDY_NUMBER = #{studyNumber}
    </select>

    <update id="update">
        update tbl_study_board
            set study_title= #{studyTitle},study_process=#{studyProcess},study_start_date=#{studyStartDate},study_date=#{studyDate},study_student_count=#{studyStudentCount},study_major=#{studyMajor},study_address=#{studyAddress},study_content=#{studyContent},study_update_date=sysdate
            where study_number=#{studyNumber}
    </update>

    <delete id="delete">
        delete from tbl_study_board
        where study_number = #{studyNumber}
    </delete>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(STUDY_NUMBER)
        FROM TBL_STUDY_BOARD
    </select>
</mapper>