<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gongu.mapper.UserMapper">


    <select id="idCheck"  resultType="int">
        SELECT count(*)
        FROM TBL_USERS
        WHERE USER_ID = #{userId}
    </select>


    <insert id="insert">
        INSERT INTO TBL_USERS (USER_NUMBER, USER_ID, USER_NAME, USER_PASSWORD,  USER_NICKNAME, USER_EMAIL, USER_PHONE,
                               USER_MAJOR, USER_BIRTH, USER_LEVEL)
        VALUES(SEQ_USERS_NUMBER.NEXTVAL, #{userId},#{userName}, #{userPassword}, #{userNickname} ,#{userEmail}, #{userPhone}, #{userMajor}, #{userBirth}, '1')
    </insert>

    <select id="select" resultType="userDto">
        SELECT USER_NUMBER, USER_ID, USER_NAME
        FROM TBL_USERS
        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>


    <update id="updateUser">
        UPDATE TBL_USERS
        SET USER_NICKNAME = #{userNickname}, USER_PHONE = #{userPhone}, USER_EMAIL = #{userEmail}
        WHERE  USER_NUMBER = #{userNumber}
    </update>

    <select id="verifyPhoneNumber" resultType="string">
        SELECT USER_ID
        FROM TBL_USERS
        WHERE USER_PHONE = #{userPhone}
    </select>

    <select id="verifyPhoneNumberPw" resultType="string">
        SELECT USER_PASSWORD
        FROM TBL_USERS
        WHERE USER_ID =#{userId} AND USER_PHONE = #{userPhone}
    </select>

    <delete id="deleteUser">
        DELETE FROM TBL_USERS
        WHERE USER_NUMBER = #{userNumber}
    </delete>

<!--    내정보 페이지-->
    <select id="selectMyPage" resultType="userDto">
        SELECT USER_NUMBER, USER_ID, USER_NAME, USER_NICKNAME, USER_EMAIL, USER_PHONE, USER_MAJOR,
            TO_CHAR(USER_BIRTH, 'YYYY"년 "MM"월 "DD"일"') AS USER_BIRTH, USER_LEVEL
        FROM TBL_USERS
        WHERE USER_NUMBER = #{userNumber, jdbcType=BIGINT}
    </select>
<!--    전화번호 중복-->
    <select id="selectPhone" resultType="long">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USERS
        WHERE USER_PHONE = #{userPhone}
    </select>
<!--    이메일 중복-->
    <select id="selectEmail" resultType="long">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USERS
        WHERE USER_EMAIL = #{userEmail}
    </select>

</mapper>